<%= form_for(@paese) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @paese} %>

  <div class="field">
    <%= f.label "Descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "Tipo/Appartenenza" %><br />
    <%= select(:paese, :tpeu, Paese::TPEU.invert, { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "Prefisso P.Iva" %><br />
    <%= f.text_field :prepiva %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
