<%#= render :partial => 'shared/error_messages', :locals => {:f => @paese} %>
<%= form_for(@paese) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <%= f.label "Descrizione" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="three columns">
      <%= f.label "Codice belfiore (CF)" %>
      <%= f.text_field :codfis %>
    </div>
    <div class="two columns">
      <%= f.label "Prefisso ParIva" %>
      <%= f.text_field :prepiva %>
    </div>
    <div class="two columns"></div>
    <div class="two columns">
      <%= f.label "Tipo/Appartenenza" %>
      <%= select(:paese, :tpeu, Paese::TPEU.invert.sort, { :prompt => true }) %>
    </div>
    <div class="twelve columns">
      <%= f.submit "SALVA", :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', :back, :class => "button radius small alert foundicon-remove" %>
      <%#= link_to 'ANNULLA', paeses_path, :class => "button radius small alert" %>
    </div>
  </div>
<% end %>
