<tr>
  <td><%= line.descriz %></td>
  <td><%= Paese::TPEU[line.tpeu] %></td>
  <td><%= line.codfis %></td>
  <td><%= line.prepiva %></td>
  <td>
    <%= render :partial => 'shared/btn_vmc', :locals => {:v_edit => edit_paese_path(line), :line => line} %>
  </td>
</tr>
