<h1><%= @title %></h1>
<%= will_paginate @paeses %>
<table>
  <tr>
    <th>Descrizione</th>
    <th>Tipo</th>
    <th>Codice belfiore(CF)</th>
    <th>Prefisso P_Iva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @paeses unless @paeses.empty? %>
</table>

<br />

<%= link_to 'Nuovo stato/nazione', new_paese_path %> <br />
<%= link_to 'Indietro', paeses_path %>
