<%= render :partial => 'shared/main_title', :locals => {:t => @title, :record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro', paeses_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Modifica', edit_paese_path(@paese), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Elimina', @paese, :confirm => 'Confermi eliminazione?',
                                       :method => :delete, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Dati stato/nazione </legend>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @paese, "Descrizione:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @paese.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @paese, "Tipo:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= Paese::TPEU[@paese.tpeu] %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @paese, "Codice belfiore:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @paese.codfis %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @paese, "Prefisso partita iva:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @paese.prepiva %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
