<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', resque_location(paeses_path), :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_paese_path(@paese), :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @paese, :confirm => 'Confermi eliminazione?',
                                   :method => :delete, :class => "button radius small alert foundicon-trash" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @paese, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @paese.descriz %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @paese, "Tipo:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= Paese::TPEU[@paese.tpeu] %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @paese, "Codice belfiore:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @paese.codfis %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @paese, "Prefisso partita iva:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @paese.prepiva %>
  </div>
</div>
