<p id="notice"><%= notice %></p>

<p>
  <b>Descriz:</b>
  <%= @paese.descriz %>
</p>

<p>
  <b>Tpeu:</b>
  <%= @paese.tpeu %>
</p>


<%= link_to 'Edit', edit_paese_path(@paese) %> |
<%= link_to 'Back', paeses_path %>
