<%= form_for(@localita) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @localita} %>

  <div class="field">
    <b> <%= f.label "Descrizione" %> </b> <br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <b> <%= f.label "Provincia" %> </b> <br />
    <%= f.text_field :prov %>
  </div>
  <div class="field">
    <b> <%= f.label "Cap" %> </b> <br />
    <%= f.text_field :cap %>
  </div>
  <div class="field">
    <b> <%= f.label "Stato/Nazione" %> </b> <br />
    <%= collection_select :localita, :paese_id, Paese.all, :id, :descriz, :prompt => true %>
<%#= link_to 'Aggiungi Stato/Nazione', :controller => :paeses, :action => :new, :id => @localita.id %>
  </div>
  <div class="field">
    <b> <%= f.label "CodFis" %> </b> <br />
    <%= f.text_field :codfis %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
