<%= form_for(@localita) do |f| %>
  <% if @localita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localita.errors.count, "error") %> prohibited this localita from being saved:</h2>

      <ul>
      <% @localita.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descriz %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label :prov %><br />
    <%= f.text_field :prov %>
  </div>
  <div class="field">
    <%= f.label :cap %><br />
    <%= f.text_field :cap %>
  </div>
  <div class="field">
    <%= f.label :paese %><br />
    <%= f.text_field :paese %>
  </div>
  <div class="field">
    <%= f.label :codfis %><br />
    <%= f.text_field :codfis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
