<%#= render :partial => 'shared/error_messages', :locals => {:f => @localita} %>
<%= form_for(@localita) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <%= f.label "Descrizione" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="one columns">
      <%= f.label "Cap" %>
      <%= f.text_field :cap %>
    </div>
    <div class="two columns">
      <%= f.label "CodFis" %>
      <%= f.text_field :codfis %>
    </div>
    <div class="two columns">
      <%= f.label "Provincia" %>
      <%= f.text_field :prov %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Stato/Nazione" %>
      <%= collection_select :localita,     :paese_id, Paese.all,
                            :id, :descriz %>
    </div>
    <div class="twelve columns">
      <%= f.submit 'SALVA', :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', :back, :class => "button radius small alert foundicon-trash" %>
      <%#= link_to 'ANNULLA', localitas_path, :class => "button radius small alert" %>
    </div>
  </div>
<% end %>
