<%#= render :partial => 'shared/error_messages', :locals => {:f => @localita} %>
<%= form_for(@localita) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <fieldset>
        <legend> Dati localita' </legend>
        <div class="ten columns offset-by-one">
          <%= f.label "Descrizione" %>
          <%= f.text_field :descriz %>
        </div>
        <div class="four columns offset-by-one">
          <%= f.label "Cap" %>
          <%= f.text_field :cap %>
        </div>
        <div class="three columns">
          <%= f.label "Provincia" %>
          <%= f.text_field :prov %>
        </div>
        <div class="three columns">
          <%= f.label "CodFis" %>
          <%= f.text_field :codfis %>
        </div>
        <div class="ten columns offset-by-one">
          <%= f.label "Stato/Nazione" %>
          <%= collection_select :localita,     :paese_id, Paese.all,
                                :id, :descriz %>
        </div>
        <hr />
        <div class="ten columns offset-by-one">
          <%= f.submit 'SALVA', :class => "button radius small" %>
          <%= link_to 'ANNULLA', localitas_path, :class => "button radius small" %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
