<%= form_for(@localita) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @localita} %>

  <div class="field">
    <%= f.label "Descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "Provincia" %><br />
    <%= f.text_field :prov %>
  </div>
  <div class="field">
    <%= f.label "Cap" %><br />
    <%= f.text_field :cap %>
  </div>
  <div class="field">
    <%= f.label "Stato/Nazione" %><br />
    <%= collection_select :localita, :paese_id, Paese.all, :id, :descriz, :prompt => true %>
<%#= link_to 'Aggiungi Stato/Nazione', :controller => :paeses, :action => :new, :id => @localita.id %>
  </div>
  <div class="field">
    <%= f.label "CodFis" %><br />
    <%= f.text_field :codfis %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
