<tr>
  <td><%= line.descriz %></td>
  <td><%= line.prov %></td>
  <td><%= line.cap %></td>
  <td><%= line.paese.descriz %></td>
  <td><%= line.codfis %></td>

  <td>
    <%= render :partial => 'shared/btn_vmc', :locals => {:v_edit => edit_localita_path(line), :line => line} %>
  </td>
</tr>
