<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <%= will_paginate @localitas %>
      <table>
        <thead>
          <th>Descrizione</th>
          <th>Prv.</th>
          <th>Cap</th>
          <th>Paese</th>
          <th>C.F.</th>
          <th />
          <th />
          <th />
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @localitas unless @localitas.empty? %>
        </tbody>
      </table>

      <div class="row">
        <div class="twelve columns">
          <ul class="button-group [radius, rounded]">
            <li>
              <%= link_to "Nuova citta'", new_localita_path, :class => "button radius" %>
            </li>
            <li>
              <%= link_to "Indietro", localitas_path, :class => "button radius" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
