<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to "NUOVA", new_localita_path, :class => "button radius small new foundicon-add-doc" %>
  </li>
</ul>
<%= render :partial => 'filter' %>
<% unless @localitas.nil?||@localitas.empty? %>
  <table>
    <thead>
      <tr>
        <th width="40%">Descrizione</th>
        <th width="3%">Prv.</th>
        <th width="6%">Cap</th>
        <th width="30%">Paese</th>
        <th width="6%">C.F.</th>
        <th width="15%"></th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => 'line', :collection => @localitas %>
    </tbody>
  </table>
  <%= will_paginate @localitas %>
<% end %>
