<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro', localitas_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Modifica', edit_localita_path(@localita), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Elimina', @localita, :confirm => 'Confermi eliminazione?',
                                          :method => :delete, :class => "button radius small" %>
      </li>
    </ul>
    <div class="row">
      <div class="two columns">
        <%= label @localita, "Descrizione:", :class => "right" %>
      </div>
      <div class="ten columns">
        <%= @localita.descriz %>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <%= label @localita, "Provincia:", :class => "right" %>
      </div>
      <div class="ten columns">
        <%= @localita.prov %>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <%= label @localita, "CAP:", :class => "right" %>
      </div>
      <div class="ten columns">
        <%= @localita.cap %>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <%= label @localita, "Cod Fisc:", :class => "right" %>
      </div>
      <div class="ten columns">
        <%= @localita.codfis %>
      </div>
    </div>
    <div class="row">
      <div class="two columns">
        <%= label @localita, "Stato/Nazione", :class => "right" %>
      </div>
      <div class="ten columns">
        <%= @localita.paese.descriz %>
      </div>
    </div>
  </div>
</div>
