<h1>Mostra Citta'</h1>
<p>
  <b>Descrizione:</b>
  <%= @localita.descriz %>
</p>

<p>
  <b>Provincia:</b>
  <%= @localita.prov %>
</p>

<p>
  <b>Cap:</b>
  <%= @localita.cap %>
</p>

<p>
  <b>Paese di appartenenza:</b>
  <%= @localita.paese.descriz %>
</p>

<p>
  <b>Codfis:</b>
  <%= @localita.codfis %>
</p>

<%= link_to 'Modifica', edit_localita_path(@localita) %> |
<%= link_to 'Indietro', localitas_path %>
