<p id="notice"><%= notice %></p>

<p>
  <b>Descriz:</b>
  <%= @localita.descriz %>
</p>

<p>
  <b>Prov:</b>
  <%= @localita.prov %>
</p>

<p>
  <b>Cap:</b>
  <%= @localita.cap %>
</p>

<p>
  <b>Paese:</b>
  <%= @localita.paese %>
</p>

<p>
  <b>Codfis:</b>
  <%= @localita.codfis %>
</p>


<%= link_to 'Edit', edit_localita_path(@localita) %> |
<%= link_to 'Back', localitas_path %>
