<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', resque_location(localitas_path), :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_localita_path(@localita), :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @localita, :confirm => 'Confermi eliminazione?',
                                      :method => :delete, :class => "button radius small alert foundicon-trash" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @localita, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @localita.descriz %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @localita, "Provincia:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @localita.prov %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @localita, "CAP:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @localita.cap %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @localita, "Cod Fisc:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @localita.codfis %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @localita, "Stato/Nazione", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @localita.paese.descriz %>
  </div>
</div>
