<%= form_for(@causmag) do |f| %>
  <% if @causmag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@causmag.errors.count, "error") %> prohibited this causmag from being saved:</h2>

      <ul>
      <% @causmag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "tipologia" %>
    <%= select(:causmag, :tipo, [["Vendita", "V"], ["Acquisto", "A"]], { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label "magazzino di origine" %><br />
    <%= collection_select :causmag, :magsrc_id, Mag.all, :id, :descriz, :prompt => false, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label "magazzino di destinazione" %><br />
    <%= collection_select :causmag, :magdst_id, Mag.all, :id, :descriz, :prompt => false, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label "Genera fattura" %><br />
    <%= select(:causmag, :fattura, [["Si", "S"], ["No", "N"]], { :include_blank => true })%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
