<%= render :partial => 'shared/error_messages', :locals => {:f => @causmag} %>
<%= form_for(@causmag) do |f| %>

  <div class="field">
    <%= f.hidden_field :azienda %>
  </div>
  <div class="field">
    <b> <%= f.label "Gruppo (0-9)" %> </b> <br />
    <%= select(:causmag, :tipo_doc, Causmag::TIPO_DOC.invert.sort, { :prompt => true }) %>
  </div>
  <div class="field">
    <b> <%= f.label "descrizione" %> </b> <br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <b> <%= f.label "descrizione causale" %> </b> <br />
    <%= f.text_field :des_caus %>
  </div>
  <div class="field">
    <b> <%= f.label "tipologia" %> </b>
    <%= select(:causmag, :tipo, Causmag::TIPO.invert.sort, { :prompt => true }) %>
  </div>
  <div class="field">
    <b> <%= f.label "Impatto sul magazzino" %> </b>
    <%= select(:causmag, :movimpmag, Causmag::MOVIMPMAG.invert.sort, { :prompt => true }) %>
  </div>
  <div class="field">
    <b> <%= f.label "Magazzino origine (default)" %> </b> <br />
    <%= select(:causmag, :nrmagsrc, Causmag::NRMAG.invert.sort) %>
  </div>
  <div class="field">
    <b> <%= f.label "Magazzino destinazione (default)" %> </b> <br />
    <%= select(:causmag, :nrmagdst, Causmag::NRMAG.invert.sort) %>
  </div>
  <div class="field">
    <b> <%= f.label "Movimento contabile" %> </b> <br />
    <%= select(:causmag, :contabile, Causmag::CONTABILE.invert.sort, { :prompt => true })%>
  </div>
  <div class="field">
    <b> <%= f.label "Causale contabile" %> </b> <br />
    <%= collection_select(:causmag, :causale_id, Causale.all, :id, :descriz, {:include_blank => true}) %>
  </div>
  <div class="field">
    <b> <%= f.label "Nome modulo" %> </b> <br />
    <%= f.text_field :modulo %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA" %>
  </div>
<% end %>
