<%= form_for(@causmag) do |f| %>
  <% if @causmag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@causmag.errors.count, "error") %> prohibited this causmag from being saved:</h2>

      <ul>
      <% @causmag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :azienda %><br />
    <%= f.number_field :azienda %>
  </div>
  <div class="field">
    <%= f.label "descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "tipologia" %>
    <%= select(:causmag, :tipo, [["Entrata", "E"], ["Uscita", "U"], ["Trasferimento", "T"]], { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= f.label "Movimento contabile" %><br />
    <%= select(:causmag, :contabile, [["Si", "S"], ["No", "N"]], { :include_blank => true })%>
  </div>
  <div class="field">
    <%= f.label "Impatto sul magazzino" %>
    <%= select(:causmag, :movimpmag, [["Movimenta", "M"], ["Impegna", "I"], ["Nessuno", "N"]], { :prompt => true }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
