<%= form_for(@causmag) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @causmag} %>

  <div class="field">
    <%= f.label :azienda %><br />
    <%= f.number_field :azienda %>
  </div>
  <div class="field">
    <%= f.label "Gruppo (0-9)" %><br />
    <%= select(:causmag, :tipo_doc, Causmag::TIPO_DOC.invert, { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "descrizione causale" %><br />
    <%= f.text_field :des_caus %>
  </div>
  <div class="field">
    <%= f.label "tipologia" %>
    <%= select(:causmag, :tipo, Causmag::TIPO.invert, { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "Impatto sul magazzino" %>
    <%= select(:causmag, :movimpmag, Causmag::MOVIMPMAG.invert, { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "Magazzino origine (default)" %><br />
    <%= select(:causmag, :nrmagsrc, Causmag::NRMAG.invert) %>
  </div>
  <div class="field">
    <%= f.label "Magazzino destinazione (default)" %><br />
    <%= select(:causmag, :nrmagdst, Causmag::NRMAG.invert) %>
  </div>
  <div class="field">
    <%= f.label "Movimento contabile" %><br />
    <%= select(:causmag, :contabile, Causmag::CONTABILE.invert, { :prompt => true })%>
  </div>
  <div class="field">
    <%= f.label "Nome modulo" %><br />
    <%= f.text_field :modulo %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA" %>
  </div>
<% end %>
