<%= will_paginate(@causmags) %>
<tr>
  <td><%= line.azienda %></td>
  <td><%= line.descriz %></td>
  <td><%= line.tipo %></td>
  <td><%= line.movimpmag %></td>
  <td><%= line.magsrc.descriz unless line.magsrc.nil? %></td>
  <td><%= line.magdst.descriz unless line.magdst.nil? %></td>
  <td><%= line.contabile %></td>
  <td><%= link_to 'Visualizza', line %></td>
  <td><%= link_to 'Modifica', edit_causmag_path(line) %></td>
  <td><%= link_to 'Elimina', line, :confirm => 'Confermi?', :method => :delete %></td>
</tr>
