<tr>
  <td><%= Causmag::TIPO_DOC[line.tipo_doc] %></td>
  <td><%= line.descriz %></td>
  <td><%= Causmag::TIPO[line.tipo] %></td>
  <td><%= Causmag::MOVIMPMAG[line.movimpmag] %></td>
  <td><%= Causmag::CONTABILE[line.contabile] %></td>
  <td>
    <%= link_to 'V', line, :class => "button radius tiny", :title => "Visualizza" %>
    <%= link_to 'M', edit_causmag_path(line), :class => "button radius tiny", :title => "Modifica" %>
    <%= link_to 'C', line, :confirm => 'Confermi?', :method => :delete, :class => "button radius tiny", :title => "Cancella" %>
  </td>
</tr>
