<h1>Listing causmags</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Descrizione</th>
    <th>Tipologia</th>
    <th>Impatto sul magazzino</th>
    <th>Magazzino di origine</th>
    <th>Magazzino di destinazione</th>
    <th>Movimento contabile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @causmags.each do |causmag| %>
  <tr>
    <td><%= causmag.azienda %></td>
    <td><%= causmag.descriz %></td>
    <td><%= causmag.tipo %></td>
    <td><%= causmag.movimpmag %></td>
    <td><%= causmag.magsrc.descriz unless causmag.magsrc.nil? %></td>
    <td><%= causmag.magdst.descriz unless causmag.magdst.nil? %></td>
    <td><%= causmag.contabile %></td>
    <td><%= link_to 'Show', causmag %></td>
    <td><%= link_to 'Edit', edit_causmag_path(causmag) %></td>
    <td><%= link_to 'Destroy', causmag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Causmag', new_causmag_path %>
