<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <%= will_paginate @causmags %>
      <table>
        <thead>
          <th width="10%">Grp</th>
          <th width="55%">Descrizione</th>
          <th width="10%">Tipo</th>
          <th width="5%">Mag</th>
          <th width="5%">Cnt</th>
          <th width="15%"></th>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @causmags unless @causmags.empty? %>
        </tbody>
      </table>
      <div class="row">
        <div class="twelve columns">
          <ul class="button-group [radius, rounded]">
            <li>
              <%= link_to "Nuova Causale", new_causmag_path, :class => "button radius" %>
            </li>
            <li>
              <%= link_to "Indietro", causmags_path, :class => "button radius" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
