<h1><%= @title %></h1>
<%= will_paginate @causmags %>
<table>
  <tr>
    <th>Gruppo</th>
    <th>Descrizione</th>
    <th>Tipo</th>
    <th>Magazzino</th>
    <th>Contabile</th>
    <th>Causale contabile</th>
    <th>Causale di trasporto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @causmags unless @causmags.empty? %>
</table>

<br />

<%= link_to 'Nuova Causale', new_causmag_path %> <br />
<%= link_to 'Indietro', causmags_path %>
