<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend>Dati causali di magazzino</legend>
      <div class="row">
        <div class="one columns">uno</div>
        <div class="one columns">due</div>
        <div class="one columns">tre</div>
        <div class="one columns">qua</div>
        <div class="one columns">cin</div>
        <div class="one columns">sei</div>
        <div class="one columns">set</div>
        <div class="one columns">ott</div>
        <div class="one columns">nov</div>
        <div class="one columns">die</div>
        <div class="one columns">und</div>
        <div class="one columns">dod</div>
      </div>

      <div class="row">
        <div class="one columns offset-by-one">
          <b>Gruppo:</b>
        </div>
        <div class="four columns">
          <%= Causmag::TIPO_DOC[@causmag.tipo_doc] %>
        </div>
        <div class="two columns">
          <b>Descrizione:</b>
        </div>
        <div class="four columns">
          <%= @causmag.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="one columns offset-by-one">
          <b>Tipo:</b>
        </div>
        <div class="two columns">
          <%= Causmag::TIPO[@causmag.tipo] %>
        </div>
        <div class="one columns">
          <b>Mov.cnt.:</b>
        </div>
        <div class="one columns">
          <%= Causmag::CONTABILE[@causmag.contabile] %>
        </div>
        <div class="one columns">
          <b>Mov.mag.:</b>
        </div>
        <div class="one columns">
          <%= Causmag::MOVIMPMAG[@causmag.movimpmag] %>
        </div>
        <div class="one columns">
          <b>Mag.orig</b>
        </div>
        <div class="one columns">
          <%= Causmag::NRMAG[@causmag.nrmagsrc] %>
        </div>
        <div class="one columns">
          <b>Mag.dest.</b>
        </div>
        <div class="one columns">
          <%= Causmag::NRMAG[@causmag.nrmagdst] %>
        </div>
      </div>
      <div class="row">
        <div class="one columns offset-by-one">
          <b>Des.caus:</b>
        </div>
        <div class="four columns">
          <%= @causmag.des_caus %>
        </div>
        <div class="two columns">
          <b>Caus.contab.:</b>
        </div>
        <div class="four columns">
          <%= @causmag.causale.descriz unless @causmag.causale.nil? %>
        </div>
      </div>
      <div class="row">
        <div class="one columns offset-by-one">
          <b>CausTrasp:</b>
        </div>
        <div class="four columns">
          <%= @causmag.caus_tra unless @causmag.caus_tra.nil? %>
        </div>
        <div class="one columns">
          <b>Modulo:</b>
        </div>
        <div class="two columns">
          <%= @causmag.modulo %>
        </div>
        <div class="three columns"></div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro', causmags_path, :class => "button radius" %>
      </li>
      <li>
        <%= link_to 'Modifica', edit_causmag_path(@causmag), :class => "button radius" %>
      </li>
    </ul>
  </div>
</div>
