<p id="notice"><%= notice %></p>

<p>
  <b>Descriz:</b>
  <%= @causmag.descriz %>
</p>

<p>
  <b>Tipo:</b>
  <%= @causmag.tipo %>
</p>

<p>
  <b>Magsrc:</b>
  <%= @causmag.magsrc %>
</p>

<p>
  <b>Magdst:</b>
  <%= @causmag.magdst %>
</p>

<p>
  <b>Fattura:</b>
  <%= @causmag.fattura %>
</p>


<%= link_to 'Edit', edit_causmag_path(@causmag) %> |
<%= link_to 'Back', causmags_path %>
