<p id="notice"><%= notice %></p>

<p>
  <b>Azienda:</b>
  <%= @causmag.azienda %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @causmag.descriz %>
</p>

<p>
  <b>Tipologia:</b>
  <%= @causmag.tipo %>
</p>

<p>
  <b>Impatto sul magazzino:</b>
  <%= @causmag.movimpmag %>
</p>

<p>
  <b>Magazzino di origine:</b>
  <%= @causmag.magsrc.descriz unless @causmag.magsrc.nil? %>
</p>

<p>
  <b>Magazzino di destinazione:</b>
  <%= @causmag.magdst.descriz unless @causmag.magdst.nil? %>
</p>

<p>
  <b>Movimento contabile:</b>
  <%= @causmag.contabile %>
</p>


<%= link_to 'Edit', edit_causmag_path(@causmag) %> |
<%= link_to 'Back', causmags_path %>
