<h1>Mostra Causale di magazzino</h1>
<p>
  <b>Gruppo:</b>
  <%= Causmag::TIPO_DOC[@causmag.tipo_doc] %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @causmag.descriz %>
</p>

<p>
  <b>Descr. causale:</b>
  <%= @causmag.des_caus %>
</p>

<p>
  <b>Tipologia:</b>
  <%= Causmag::TIPO[@causmag.tipo] %>
</p>

<p>
  <b>Impatto sul magazzino:</b>
  <%= Causmag::MOVIMPMAG[@causmag.movimpmag] %>
</p>

<p>
  <b>Mag. origine (default)</b>
  <%= Causmag::NRMAG[@causmag.nrmagsrc] %>
</p>

<p>
  <b>Mag. destin. (default)</b>
  <%= Causmag::NRMAG[@causmag.nrmagdst] %>
</p>

<p>
  <b>Movimento contabile:</b>
  <%= Causmag::CONTABILE[@causmag.contabile] %>
</p>

<p>
  <b>Causale contabile:</b>
  <%= @causmag.causale.descriz unless @causmag.causale.nil? %>
</p>

<p>
  <b>Nome modulo:</b>
  <%= @causmag.modulo %>
</p>

<%= link_to 'Modifica', edit_causmag_path(@causmag) %> |
<%#= link_to 'Indietro', :back %>
<%= link_to 'Indietro', causmags_path %>
