<%= render :partial => 'shared/page_title', :locals => {:record => @user} %>
<ul class="button-group">
  <li>
    <%= link_to "NUOVO", new_user_path, :class => "button radius small new foundicon-add-doc" %>
  </li>
</ul>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="row">
    <div class="five columns">
      <%= f.label :login %>
      <%= f.text_field :login, :value => @login%>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :password %>
      <%= f.password_field :pwd %>
    </div>
    <div class="five columns">
      <%= f.label :azienda %>
      <%= select(:session, :azienda, (StaticData::ELNCAZND).invert.sort) %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :anno %>
      <%= f.number_field :annoese, :value => Time.now.year %>
    </div>
    <div class="twelve columns">
      <%= f.submit "ENTRA", :class => "button radius small success" %>
    </div>
  </div>
<% end %>
