<h1><%= @title %></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
	  <%= f.label :login %>
	  <br />
	  <%= f.text_field :login %>
  </div>
  <div class="field">
	  <%= f.label :password %>
	  <br />
	  <%= f.password_field :pwd %>
  </div>
  <div class="field">
	  <%= f.label :azienda %>
	  <br />
		<%= select(:session, :azienda, (StaticData::ELNCAZND).invert.sort) %>
  </div>
  <div class="field">
	  <%= f.label :annoese %>
	  <br />
	  <%= f.number_field :annoese, :size => 5, :value => Time.now.year %>
  </div>
  <div class="actions">
	  <%= f.submit "ENTRA" %>
  </div>
<% end %>
<p>New user? <%= link_to "Nuovo Utente", new_user_path %></p>
