<%= form_for(@agente) do |f| %>
  <div class="row">
    <div class="eight columns">
      <%= f.label "Denominazione Anagrafica" %>
      <% if action_name == 'new' %>
        <%= collection_select :agente, :anagen_id, Anagen.without_agente_or_self(@agente.anagen_id||0),
                              :id, :denomin, {:include_blank => true} %>
      <% else %>
        <%= @agente.anagen.denomin %>
      <% end %>
    </div>
    <div class="two columns"></div>
    <div class="two columns">
      <%= f.label "Provvigione %" %>
      <%= f.text_field :provv %>
    </div>
    <div class="twelve columns">
      <%= f.submit "SALVA", :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', resque_location(:back), :class => "button radius small alert foundicon-remove" %>
    </div>
  </div>
<% end %>
