<%= form_for(@mag) do |f| %>
  <% if @mag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mag.errors.count, "error") %> prohibited this mag from being saved:</h2>

      <ul>
      <% @mag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :azienda %><br />
    <%= f.number_field :azienda %>
  </div>
  <div class="field">
    <%= f.label :codice %><br />
    <%= f.number_field :codice %>
  </div>
  <div class="field">
    <%= f.label :descriz %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
