<p id="notice"><%= notice %></p>
<h1>Mostra Magazzino</h1>
<p>
  <b>Azienda:</b>
  <%= @mag.azienda %>
</p>

<p>
  <b>Codice:</b>
  <%= @mag.codice %>
</p>

<p>
  <b>Descriz:</b>
  <%= @mag.descriz %>
</p>


<%= link_to 'Edit', edit_mag_path(@mag) %> |
<%= link_to 'Back', mags_path %>
