<div class="panel title">
  <h2>MENU' PRINCIPALE G.M.A.</h2>
</div>

<div class="row">
  <div class="four columns">
    <ul class="nav-bar vertical">
      <li class="has-flyout">
        <%= link_to "ARCHIVIO DOCUMENTI", "#" %>
        <a href="#" class="flyout-toggle"></a>
        <ul class="flyout">
          <% Tesdoc::TIPO_DOC.each do |k, v| %>
            <li> <%= link_to v.upcase, tesdocs_path(:tipo_doc => k) %> </li>
          <% end %>
        </ul>
      </li>
      <li> <%= link_to "ANAGRAFICA SOGGETTI", anagens_path %> </li>
      <li> <%= link_to "ARTICOLI", articles_path %> </li>
      <li> <%= link_to "CAUSALI CONTABILI", causales_path %> </li>
      <li> <%= link_to "CAUSALI MAGAZZINO", causmags_path %> </li>
      <li> <%= link_to "CITTA'", localitas_path %> </li>
      <li> <%= link_to "CONTI CLIENTI/FORNITORI", contos_path %> </li>
      <li> <%= link_to "IVA/ESENZIONI", ivas_path %> </li>
      <li> <%= link_to "STATI/NAZIONI", paeses_path %> </li>
    </ul>
  <div/>
<div/>
