<h1>MENU' PRINCIPALE -- GMA (<%= current_user.login + " " + current_annoese.to_s %>)</h1>
<br />
<br />
<ul>
<h3>
	<li> <%= link_to "GESTIONE STATI/NAZIONI", paeses_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE CITTA'", localitas_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE CAUSALI DI MAGAZZINO", causmags_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE CAUSALI CONTABILI", causales_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE ARTICOLI", articles_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE CONTI CLIENTI/FORNITORI", contos_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE ANAGRAFICA SOGGETTI", anagens_path %> </li>
</h3>
	<br />
<h3>
	<li> <%= link_to "GESTIONE ARCHIVIO DOCUMENTI", choose_tipo_doc_tesdocs_path %> </li>
</h3>
	<br />
</ul>


