<%#= render :partial => 'shared/error_messages', :locals => {:f => @article} %>
<%= form_for(@article) do |f| %>
  <%= f.hidden_field :azienda %>
  <div class="row">
    <div class="five columns">
      <%= f.label :codice %>
      <%= f.text_field :codice %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :Categoria %>
      <%= select(:article, :categ, Article::CATEG.invert.sort) %>
    </div>
    <div class="twelve columns">
      <%= f.label :descrizione %>
      <%= f.text_field :descriz %>
    </div>
    <div class="two columns">
      <%= f.label "Prezzo di vendita" %>
      <%= f.text_field :prezzo %>
    </div>
    <div class="one columns"></div>
    <div class="two columns">
      <%= f.label "Prezzo di acquisto" %>
      <%= f.text_field :costo %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :Iva %>
      <%= collection_select :article, :iva_id, Iva.all, :id, :descriz, {:include_blank => true} %>
    </div>
    <div class="twelve columns">
      <%= f.submit 'SALVA', :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', resque_location(:back), :class => "button radius small alert foundicon-remove" %>
      <%#= link_to 'ANNULLA', articles_path, :class => "button radius small alert" %>
    </div>
  </div>
<% end %>
