<%= form_for(@article) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @article} %>

  <div class="field">
    <b> <%= f.label :azienda %> </b> <br />
    <%= f.number_field :azienda %>
  </div>
  <div class="field">
    <b> <%= f.label :codice %> </b> <br />
    <%= f.text_field :codice %>
  </div>
  <div class="field">
    <b> <%= f.label :descrizione %> </b> <br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <b> <%= f.label :Prezzo %> </b> <br />
    <%= f.text_field :prezzo %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
