<%= form_tag(url, :method => :get) do %>
  <% mag = Hash.new %>
  <% Anaind::NRMAG.each {|k,v|mag[k]=v unless k==0} %>
  <%= hidden_field_tag :tp, @tp %>
  <div class="row">
    <% if @all == true %>
      <div class="twelve columns">
        <%= label_tag url, "TUTTI GLI ARTICOLI DI MAGAZZINO" %>
      </div>
    <% else %>
      <div class="one columns">
        <%= label_tag url, "Articolo:", :class=>"right" %>
      </div>
      <div class="eleven columns">
        <%= "#{@article.desest1}" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="one columns">
      <%= label_tag url, "Cliente:", :class=>"right" %>
    </div>
    <div class="five columns">
      <%= select_tag(:idanagen,
                     options_from_collection_for_select(@anagens, :id, :denomin),
                     {:include_blank => true}) unless @anagens.nil?%>
    </div>
    <div class="six columns"></div>
  </div>
  <div class="row">
    <div class="one columns">
      <%= check_box_tag :anarif, 'S', false, :class=>"right" %>
    </div>
    <div class="eleven columns">
        <%= @tp == "M" ? "Solo le movimentazioni di:" : "Solo le vendite di:" %>
        <%= Anagen.find(current_user.azienda).denomin %>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <%= check_box_tag :grpmag, 'S', checked = @tp=="V", {:disabled => @tp=="V", :class=>"right"} %>
    </div>
    <div class="eleven columns">
      <%= label_tag url, "Magazzini unificati:" %>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <%= label_tag url, "Magazz:", :class=>"right" %>
    </div>
    <div class="five columns">
      <%= select_tag(:nrmag, options_for_select(mag.invert.sort), {:include_blank => true, :selected => "", :disabled => @tp=="V"}) %>
    </div>
    <div class="six columns"></div>
    <div class="twelve columns">
      <%= submit_tag 'STAMPA', :class => "button radius small print foundicon-graph" %>

      <%= link_to 'INDIETRO', url_back, :class => "button radius small back foundicon-left-arrow" %>
    </div>
  </div>
<% end %>
