<%= form_tag(url, :method => :get) do %>
  <% mag = Hash.new %>
  <% Anaind::NRMAG.each {|k,v|mag[k]=v unless k==0} %>
  <%= hidden_field_tag :tp, @tp %>
  <div class="row">
    <% if @all == true %>
      <div class="twelve columns">
        <%= label_tag url, "TUTTI GLI ARTICOLI DI MAGAZZINO" %>
      </div>
    <% else %>
      <div class="one columns">
        <%= label_tag url, "Articolo:" %>
      </div>
      <div class="eleven columns">
        <%= "#{@article.desest1}" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="row">
    <div class="two columns">
      <%= jdate_field("", :dtini, "Da data", :date=>true, :value => @dtini, :readonly => true, :yearrange => current_annoese) %>
    </div>
    <div class="two columns"></div>
    <div class="two columns">
      <%= jdate_field("", :dtfin, "A data", :date=>true, :value => @dtfin, :readonly => true, :yearrange => current_annoese) %>
    </div>
    <div class="six columns"></div>
  </div>
  <div class="row">
    <div class="one columns">
      <%= label_tag url, "Causale" %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= select_tag(:causmagfilter,
                     options_from_collection_for_select(@causmags, :id, 
                                                        :descriz, {:selected => @causmagfilter.to_i}),
                                                        {:include_blank => true}) %>
    </div>
    <div class="six columns"></div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= label_tag url, "Elabora le" %>
    </div>
    <div class="ten columns"></div>
  </div>
  <div class="row">
    <div class="six columns">
      <% @tp == "M" ? tp = 'MOVIMENTAZIONI' : 'VENDITE' %>
      <%= select_tag(:anarif,
                     options_for_select([["#{tp} INTERNE","S"], ["#{tp} DISTRIBUTORE","N"]]),
                     {:data => {:remote => true, :url => url_for(:controller => :articles,
                                                                 :action => :set_distrib)}}) %>
    </div>
    <div class="six columns"></div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= label_tag url, "Distributore" %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div id="sel_distrib">
        <%= render :partial => 'sel_distrib' %>
      </div>
    </div>
    <div class="seven columns"></div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= label_tag url, "Magazzini" %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= select_tag(:grpmag, options_for_select([["DISTINTI", "N"], ["RAGGRUPPATI", "S"]]), {:disabled => @tp=="V", :class=>"right"}) %>
    </div>
    <% @mags = mag.invert.sort %>
    <div class="two columns">
      <%= select_tag(:nrmag, options_for_select(@mags), {:include_blank => true, :selected => "", :disabled => @tp=="V"}) %>
    </div>
    <div class="eight columns"></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= submit_tag 'STAMPA', :class => "button radius small print foundicon-graph" %>

      <%= link_to 'INDIETRO', url_back, :class => "button radius small back foundicon-left-arrow" %>
    </div>
  </div>
<% end %>
