<h1>Lista articoli</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.azienda %></td>
    <td><%= article.codice %></td>
    <td><%= article.descriz %></td>
    <td><%= article.prezzo %></td>
    <td><%= link_to 'Visualizza', article %></td>
    <td><%= link_to 'Modifica', edit_article_path(article) %></td>
    <td><%= link_to 'Elimina', article, :confirm => 'Confermi?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuovo Articolo', new_article_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>