<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Stampa Movimenti', filter_mov_vend_all_articles_path(:tp => "M"),
            :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Stampa Movimenti(XLS)',  filter_mov_vend_all_xls_articles_path(:tp => "M"),
            :class => "button radius small" %> <br />
      </li>
      <li>
        <%= link_to 'Stampa Vendite',   filter_mov_vend_all_articles_path(:tp => "V"),
            :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Stampa Vendite(XLS)',  filter_mov_vend_all_xls_articles_path(:tp => "V"),
            :class => "button radius small" %>  <br />
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded] small">
      <li>
        <%= link_to 'Nuovo Articolo', new_article_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to "Indietro", articles_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <table>
        <thead>
          <th width="12%">Codice</th>
          <th width="6%">Categ.</th>
          <th width="58%">Descrizione</th>
          <th width="6%">Prezzo</th>
          <th width="18%"></th>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @articles unless @articles.empty? %>
        </tbody>
      </table>
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
