<h1>Elenco articoli</h1>
<table>
  <tr>
    <th>Azienda</th>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @articles %>
  <%= render :partial => 'line', :collection => @articles unless @articles.empty? %>
</table>

<br />

<%= link_to 'Nuovo Articolo', new_article_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>
<%= link_to 'Movimenti articoli', movmagall_articles_path %>
