<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<%= render :partial => 'buttons', :locals => {:record => nil} %>

<dl class="tabs">
  <dd class="active"><a href="#gen">Dati generali</a></dd>
  <dd><a href="#keywords">Key Word</a></dd>
  <dd><a href="#authors">Autori</a></dd>
  <dd><a href="#printers">Stampatori</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="genTab">
    <%= render partial: "info" %>
  </li>

  <li id="keywordsTab">
    <%= render partial: "shared/key_word_rels", locals: {orig: @article, items_addable: @key_words_addable} %>
  </li>

  <li id="authorsTab">
    <%= render partial: "anagens", locals: {anagen_articles: @art_author, addables: @authors_addable} %>
  </li>

  <li id="printersTab">
    <%= render partial: "anagens", locals: {anagen_articles: @art_print, addables: @printers_addable} %>
  </li>
</ul>


