<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="button-bar">
  <ul class="button-group">
    <li>
      <%= link_to 'INDIETRO',  resque_location(articles_path), :class => "button radius small back foundicon-left-arrow" %>
    </li>
    <li>
      <%= link_to 'MODIFICA', edit_article_path(@article), :class => "button radius small modify foundicon-edit" %>
    </li>
    <li>
      <%= link_to 'ELIMINA', @article, :confirm => 'Confermi eliminazione?',
                                       :method => :delete, :class => "button radius small alert foundicon-trash" %>
    </li>
  </ul>
  <%= render :partial => 'btn_stp' %>
</div>
<div class="row">
  <div class="two columns">
    <%= label @article, "Codice:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @article.codice %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @article, "Categoria:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= Article::CATEG[@article.categ] %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @article, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @article.descriz %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @article, "Prezzo:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @article.prezzo %>
  </div>
</div>
