<h1>Mostra Articolo</h1>
<p>
  <b>Codice:</b>
  <%= @article.codice %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @article.descriz %>
</p>

<p>
  <b>Prezzo:</b>
  <%= @article.prezzo %>
</p>

<%= link_to 'Modifica', edit_article_path(@article) %> |
<%#= link_to 'Indietro', :back %>
<%= link_to 'Indietro', articles_path %>
<%= link_to 'Movimenti magazzino',      filter_mov_vend_article_path(:tp => "M") %>
<%= link_to 'Vendite per distributore', filter_mov_vend_article_path(:tp => "V") %>
