<tr>
  <td><%= line.data.strftime('%d-%m-%Y') %></td>
  <td class="currency"><%= number_to_currency(line.importo) %></td>
  <td><%= line.descriz %></td>
  <td><%= Scadenza::TIPO[line.tipo] %></td>
  <td><%= Scadenza::STATO[line.stato] %></td>
  <td>
    <%#= link_to '', line,
                     :class => "button radius tiny detail foundicon-page", :title => "Dettaglio" %>
    <%= link_to '', edit_scadenza_path(:id=>line.id, :page=>@page),
                     :class => "button radius tiny modify foundicon-edit", :title => "Modifica" %>


    <%= link_to '', line, :confirm => 'Confermi eliminazione?',
                                   :method => :delete, :class => "button radius tiny alert foundicon-trash", :title => "Cancella" %>
  </td>
</tr>