<%#= render :partial => 'shared/error_messages', :locals => {:f => @iva} %>
<%= form_for(@iva) do |f| %>
  <div class="row">
    <div class="five columns">
      <%= f.label :codice %>
      <%= f.number_field :codice %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :descrizione %>
      <%= f.text_field :descriz %>
    </div>
    <div class="twelve columns">
      <%= f.label "descrizione estesa (Stampa)" %>
      <%= f.text_field :desest %>
    </div>
    <div class="five columns">
      <%= f.label "Aliquota IVA %" %>
      <%= f.number_field :aliq %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Esenzione" %>
      <%= check_box :iva, :flese, {}, 'S', 'N' %>
    </div>
    <div class="twelve columns">
      <%= f.submit "SALVA", :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', :back, :class => "button radius small alert foundicon-trash" %>
      <%#= link_to 'ANNULLA', ivas_path, :class => "button radius small alert" %>
    </div>
  </div>
<% end %>
