<tr>
  <td><%= line.codice %></td>
  <td><%= line.descriz %></td>
  <td><%= line.desest %></td>
  <td><%= line.aliq %></td>
  <td><%= line.flese %></td>
	<td>
		<%= link_to 'V', line, :class => "button radius tiny", :title => "Visualizza" %>
		<%= link_to 'M', edit_iva_path(line), :class => "button radius tiny", :title => "Modifica" %>
		<%= link_to 'C', line, :confirm => 'Confermi?', :method => :delete, :class => "button radius tiny", :title => "Cancella" %>
	</td>
</tr>
