<h1><%= @title %></h1>
<%= will_paginate @ivas %>
<table>
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Descrizione estesa (REPORT)</th>
    <th>Aliquota</th>
    <th>Esenzione</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @ivas unless @ivas.empty? %>
</table>

<br />

<%= link_to 'Nuovo CodiceIva/Esenzione', new_iva_path %> <br />
<%= link_to 'Indietro', ivas_path %>
