<h1><%= @title %></h1>
<p>
  <b>Codice:</b>
  <%= @iva.codice %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @iva.descriz %>
</p>

<p>
  <b>Descrizione estesa(REPORT):</b>
  <%= @iva.desest %>
</p>

<p>
  <b>Aliquota:</b>
  <%= @iva.aliq %>
  <b>Esenzione:</b>
  <%= @iva.flese %>
</p>


<%= link_to 'Modifica', edit_iva_path(@iva) %> |
<%= link_to 'Indietro', ivas_path %>
