<%= render :partial => 'shared/main_title', :locals => {:t => @title, :record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro', ivas_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Modifica', edit_iva_path(@iva), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Elimina', @iva, :confirm => 'Confermi eliminazione?',
                                     :method => :delete, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Dati iva/esenzione </legend>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @iva, "Codice:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @iva.codice %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @iva, "Descrizione:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @iva.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @iva, "Descrizione estesa(REPORT):", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @iva.desest %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @iva, "Aliquota:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @iva.aliq %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @iva, "Esenzione:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @iva.flese %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
