<%= render :partial => 'shared/error_messages', :locals => {:f => @spediz} %>
<%= form_for(@spediz) do |f| %>
  <div class="field">
    <%= f.hidden_field :tesdoc_id %>
  </div>
  <div class="row">
    <div class="twelve columns">
      <fieldset>
        <legend> Dati Spedizione/Pagamento </legend>
        <% if @spediz.tesdoc.movmagint %>
          <div class="four columns offset-by-one">
            <%= f.label "aspetto dei beni:" %>
            <%= select(:spediz, :aspetto, Spediz::ASPETTO.invert.sort, {:include_blank => true}) %>
          </div>
          <div class="three columns">
            <%= f.label "porto:" %>
            <%= select(:spediz, :porto, Spediz::PORTO.invert.sort, {:include_blank => true}) %>
          </div>
          <div class="three columns">
            <%= f.label "nr colli:" %>
            <%= f.number_field :nrcolli %>
          </div>
          <div class="four columns offset-by-one">
            <%= f.label "corriere:" %>
            <%= select(:spediz, :corriere, Spediz::CORRIERE.invert.sort, {:include_blank => true}) %>
          </div>
          <div class="three columns">
            <%= f.label "unità di misura:" %>
            <%= select(:spediz, :um, Spediz::UM.invert.sort, {:include_blank => true}) %>
          </div>
          <div class="three columns">
            <%= f.label "valore:" %>
            <%= f.number_field :valore %>
          </div>
          <div class="ten columns offset-by-one">
            <%= f.label "Indirizzo:" %>
            <%=collection_select :spediz, :anaind_id,
                                 @spediz.ind_sped, :id, :ind_completo,
                                 {:include_blank => true},
                                 {:data => {:remote => true,
                                            :url => url_for(:controller => :spedizs, :action => :setind)}} %>
          </div>
          <div class="ten columns offset-by-one">
            <%= f.label "Presso: " %>
            <%= f.text_field :presso %>
          </div>
          <div class="ten columns offset-by-one">
            <%= f.label "destinazione (riga 1)" %>
            <%= f.text_field :dest1 %>
          </div>
          <div class="ten columns offset-by-one">
            <%= f.label "destinazione (riga 2)" %>
            <%= f.text_field :dest2 %>
          </div>
          <div class="five columns offset-by-one">
            <%= f.label "data ritiro:" %>
            <%#= f.date_select :dtrit, :use_month_numbers => true, :order => [:day, :month, :year] %>
            <%= f.text_field :dtrit %>
          </div>
          <div class="five columns">
            <%= f.label "ora ritiro:" %>
            <%#= f.time_select :orarit %>
            <%= f.text_field :orarit %>
          </div>
        <% end %>
        <% if @spediz.tesdoc.causmag.contabile == "S" %>
          <div class="five columns offset-by-one">
            <%= f.label "Pagamento:" %>
            <%= f.text_area(:pagam, :rows => 6) %>
          </div>
          <div class="five columns">
            <%= f.label "Banca d'appoggio:" %>
            <%= f.text_area(:banca, :rows => 6) %>
          </div>
        <% end %>
        <div class="ten columns offset-by-one">
          <%= f.label "annotazioni:" %>
          <%= f.text_area(:note, :rows => 8) %>
        </div>
        <hr />
        <div class="ten columns offset-by-one">
          <%= f.submit 'SALVA', :class => "button radius small" %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
