<p id="notice"><%= notice %></p>

<p>
  <b>Tesdoc:</b>
  <%= @spediz.tesdoc_id %>
</p>

<p>
  <b>Caustras:</b>
  <%= @spediz.caustras %>
</p>

<p>
  <b>Corriere:</b>
  <%= @spediz.corriere %>
</p>

<p>
  <b>Dest1:</b>
  <%= @spediz.dest1 %>
</p>

<p>
  <b>Dest2:</b>
  <%= @spediz.dest2 %>
</p>

<p>
  <b>Aspetto:</b>
  <%= @spediz.aspetto %>
</p>

<p>
  <b>Nrcolli:</b>
  <%= @spediz.nrcolli %>
</p>

<p>
  <b>Peso:</b>
  <%= @spediz.peso %>
</p>

<p>
  <b>Porto:</b>
  <%= @spediz.porto %>
</p>

<p>
  <b>Dtrit:</b>
  <%= @spediz.dtrit %>
</p>

<p>
  <b>Orarit:</b>
  <%= @spediz.orarit %>
</p>


<%= link_to 'Edit', edit_spediz_path(@spediz) %> |
<%= link_to 'Back', spedizs_path %>
