<%= form_tag(:filter_tesdocs, :method => :get) do %>
  <b> Ricerca per:________________________________________________Cli_For_Alt </b>
  <br/>
  <br/>
  <%= select_tag("tpfilter",
                 options_for_select([["Ragione sociale", "RS"], ["Codice fiscale", "CF"],
                                     ["Partiva iva", "PI"]], @tpfilter)) %>
  <%= text_field_tag "desfilter", @desfilter, :size => 61 %>
  <%= check_box_tag 'clifilter', 'C', @clifilter %>
  <%= check_box_tag 'forfilter', 'F', @forfilter %>
  <%= check_box_tag 'altfilter', 'A', @altfilter %>
  <br />
  <br />
  <div>
    <b> Causale: </b>
    <%= select_tag("causmagfilter",
                   options_from_collection_for_select(@causmags, :id, :descriz, {:selected => @causmagfilter.to_i}),
                   {:include_blank => true}) %>
    <b> Mastro contabile: </b>
    <%= select_tag("contofilter",
                   options_from_collection_for_select(@contos, :id, :desest1,{:selected => @contofilter.to_i}),
                   {:include_blank => ""}) %>
    <br />
    <br />
  </div>
  <%= submit_tag 'FILTRA' %>
<% end %>
<%#                   {:include_blank => true}) %>
<%#                   {:include_blank => true, :onchange => "/tesdocs/filter.submit_tag();"}) %>
<%# :onchange => remote_function(:url => {:controller => 'controller', :action => 'action'}) %>
