<%= form_for(@tesdoc) do |f| %>

  <%= render :partial => 'shared/error_messages', :locals => {:f => @tesdoc} %>

  <%= render :partial => 'upd_tesdoc', :locals => {:f => f } %>
  
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit :controller => :tesdoc, :action = :addrow, :method => :post %>
  </div>
<% end %>


  <%= render :partial => 'rigdoc', :collection => @tesdoc.rigdocs unless @tesdoc.rigdocs.empty? %>
  
  
  

