<%#= render :partial => 'shared/error_messages', :locals => {:f => @tesdoc} %>
<%= form_for(@tesdoc) do |f| %>
  <%= f.hidden_field :azienda %>
  <%= f.hidden_field :annoese %>
  <%= f.hidden_field :tipo_doc %>
  <%= f.hidden_field :conto_id %>
  <%= f.hidden_field :causmag_id %>
  <div class="row">
    <div class="five columns">
      <%= f.label "Anno:" %>
      <%= @tesdoc.annoese %>
      <%#= f.text_field :annoese, :size => 3, :disabled => true %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Tipo:" %>
      <%#= select(:tesdoc, :tipo_doc, Tesdoc::TIPO_DOC.invert.sort, {}, {:disabled => true}) %>
      <%= Tesdoc::TIPO_DOC[@tesdoc.tipo_doc] %>
    </div>
    <div class="five columns">
      <%= f.label "Causale:" %>
      <%= @causmag.descriz %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Descrizione estesa:" %>
      <%= @causmag.des_caus %>
    </div>
    <div class="five columns">
      <%= f.label "Merce in:" %>
      <%= Causmag::TIPO[@causmag.tipo] %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Movimento contabile:" %>
      <%= Causmag::CONTABILE[@causmag.contabile] %>
    </div>
    <div class="seven columns">
      <%= f.label "Conto anagrafica:" %>
      <%= @conto.desest1 %>
    </div>
    <div class="five columns">
      <%= f.label "Impatto sul magazzino:" %>
      <%= Causmag::MOVIMPMAG[@causmag.movimpmag] %>
    </div>
    <div class="five columns">
      <%= f.label "Nr documento:" %>
      <%= f.number_field :num_doc %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%#= f.label "Data:" %>
      <%#= f.date_select :data_doc, {:use_month_numbers=>true, :order=>[:day, :month, :year]}, :class=>"date" %>
      <%= jdate_field(:tesdoc, :data_doc, "Data", :date=>true, :value => @tesdoc.data_doc, :readonly => true) %>
    </div>
    <div class="twelve columns">
      <%= f.label "Descrizione:" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="twelve columns">
      <%= f.label "Oggetto:" %>
      <%= f.text_field :oggetto %>
    </div>
    <div class="five columns">
      <%= f.label "Magazzino Origine" %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Magazzino Destinazione" %>
    </div>
    <%= render :partial => 'magsrcdst', :locals => {:tesdoc=>@tesdoc, :causmag=>@causmag,
                                                    :act_new=>@act_new} %>
    <div class="two columns">
      <%= f.label "Segue fattura: " %>
      <%= select(:tesdoc, :seguefatt, Tesdoc::SEGUEFATT.invert.sort)%>
    </div>
    <div class="two columns">
      <%= f.label "aliquota iva:" %>
      <%= collection_select :tesdoc, :iva_id, Iva.all, :id, :descriz, {:include_blank => true} %>
    </div>
    <div class="one columns">
      <%= f.label "sconto" %>
      <%= f.number_field :sconto %>
    </div>
    <div class="two columns"></div>
    <div class="four columns">
      <%= f.label "agente" %>
      <%= collection_select :tesdoc, :agente_id, Agente.all(:include => :anagen, :order => "anagens.denomin"),
                            :id,     :denomin,   {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :tesdocs,
                                                                          :action => :set_provv)}} 
                            %>
    </div>
    <div class="one columns">
      <%= f.label "Provv" %>
      <div id="provv_age">
        <%= @tesdoc.agente.provv_age if @tesdoc.agente %>
      </div>
    </div>
    <div class="twelve columns">
      <%= f.submit "SALVA", :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', resque_location(:back), :class => "button radius small alert foundicon-remove" %>
    </div>
  </div>
<% end %>
