<%= render :partial => 'shared/error_messages', :locals => {:f => @tesdoc} %>
<%= form_for(@tesdoc) do |f| %>
  <div class="field">
    <b> <%= f.label "Azienda:" %> </b>
    <%= f.text_field :azienda, :size => 1, :disabled => true %>
    <%= f.hidden_field :azienda %>
    <b> <%= f.label "Anno:" %> </b>
    <%= f.text_field :annoese, :size => 3, :disabled => true %>
    <%= f.hidden_field :annoese %>
    <b> <%= f.label "Tipo???:" %> </b>
    <%= select(:tesdoc, :tipo_doc, Tesdoc::TIPO_DOC.invert.sort)%>
    <b> <%= f.label "Nr:" %> </b>
    <%= f.number_field :num_doc, :size => 6 %>
    <b> <%= f.label "Data:" %> </b>
    <%= f.date_select :data_doc, :order => [:day, :month, :year], :use_short_month => true %>
  </div>
  <br />
  <div class="field">
    <b> <%= f.label "Descrizione:" %> </b>
    <%= f.text_field :descriz, :size => 94 %>
  </div>
  <br />
  <div class="field">
    <b> <%= f.label "Causale:" %> </b>
    <%= f.text_field :causmag_id, :size => 1, :disabled => true %>
    <%= f.hidden_field :causmag_id %>
    <%= @causmag.descriz %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <b> Descrizione estesa: </b>
    <%= @causmag.des_caus %>
  <br />
  </div>
  <div class="field">
    <b> Merce in: </b>
    <%= Causmag::TIPO[@causmag.tipo] %>
    &nbsp;&nbsp;&nbsp;
    <b> Movimento contabile: </b>
    <%= Causmag::CONTABILE[@causmag.contabile] %>
    &nbsp;&nbsp;&nbsp;
    <b> Impatto sul magazzino: </b>
    <%= Causmag::MOVIMPMAG[@causmag.movimpmag] %>
    <br />
    <br />
    <b> <%= f.label "Conto anagrafica:" %> </b>
    <%= f.text_field :conto_id, :size => 1, :disabled => true %>
    <%= f.hidden_field :conto_id %>
    <%= @conto.desest1 %>
  <%# "#{my_remote_function(:url => {:controller => :tesdocs, :action => "upd_conto-des"}, :with => "'provincia_id'=+value")}" %>
  </div>
  <br />
  <div class="field">
    <b> <%= f.label "Magazzino origine" %> </b>-
    <b> <%= f.label "Magazzino destinazione" %> </b>
  </div>
  <div id="magsrcdst">
    <%= render :partial => 'magsrcdst', :locals => {:tesdoc => @tesdoc, :causmag => @causmag} %>
  </div>
  <br />
  <div class="field">
    <b> <%= f.label "Segue fattura: " %> </b>
    <%= select(:tesdoc, :seguefatt, Tesdoc::SEGUEFATT.invert.sort)%>
  </div>

  <div class="field">
    <b> <%= f.label "sconto" %> </b>
    <%= f.text_field :sconto %>
  </div>

  <br />
  <br />

  <div class="actions">
    <%= f.submit "SALVA TESTATA" %>
  </div>
  <br />
  <br />
<% end %>
