<%= will_paginate(@tesdocs) %>
<tr>
  <td><%= line.azienda %></td>
  <td><%= line.annoese %></td>
  <td><%= line.tipo_doc %></td>
  <td><%= line.num_doc %></td>
  <td><%= line.data_doc %></td>
  <td><%= line.descriz %></td>
  <td><%= line.causmag.descriz %></td>
  <td><%= line.conto.tipoconto %></td>
  <td><%= line.conto.codice %></td>
  <td><%= line.conto.descriz %></td>
  <td><%= line.sconto %></td>
  <td><%= link_to 'Dettaglio', line %></td>
</tr>
