<tr>
  <td><%= line.azienda %></td>
  <td><%= line.annoese %></td>
  <td><%= Causmag::TIPO_DOC[line.causmag.tipo_doc] %></td>
  <td><%= line.num_doc %></td>
  <td><%= line.data_doc %></td>
  <td><%= line.descriz %></td>
  <td><%= line.causmag.descriz %></td>
  <td><%= line.conto.tipoconto %></td>
  <td><%= line.conto.codice %></td>
  <td><%= line.conto.descriz %></td>
  <td><%= Tesdoc::NRMAG[line.nrmagsrc] %></td>
  <td><%= Tesdoc::NRMAG[line.nrmagdst] %></td>
  <td><%= Tesdoc::SEGUEFATT[line.seguefatt] %></td>
  <td><%= line.sconto %></td>
  <td><%= link_to 'Dettaglio', line %></td>
</tr>
