<tr>
  <td class="integer"><%= line.num_doc %></td>
  <td><%= line.data_doc.strftime('%d-%m-%Y') %></td>
  <td><%= line.causmag.descriz %></td>
  <td><%= line.conto.descriz %></td>
	<td>
    <div class="large-icons">
    <%= link_to '', line, :class => "button tiny detail foundicon-plus", :title => "Dettaglio" %>
    </div>
	</td>
</tr>
