<tr>
  <td><%= Article::CATEG[categ] %></td>
  <td><%= subtot[:desest] %></td>
  <td class="currency"><%= number_with_precision(subtot[:impon]) %> </td>
  <td class="float"><%= number_with_precision(subtot[:aliq]) %></td>
  <td class="currency"><%= number_with_precision(subtot[:imposta]) %></td>
  <td class="currency"><%= number_with_precision(subtot[:tot]) %></td>
</tr>
