<tr>
  <td><%= line.num_doc %></td>
  <td><%= line.data_doc.strftime('%d-%m-%Y') %></td>
  <td><%= line.causmag.descriz %></td>
  <td><%= line.conto.descriz %></td>
	<td>
		<%= link_to 'D', line, :class => "button radius tiny", :title => "Dettaglio" %>
	</td>
</tr>
