<tr>
  <td><%= show_tesdoc.azienda %></td>
  <td><%= show_tesdoc.annoese %></td>
  <td><%= show_tesdoc.tipo_doc %></td>
  <td><%= show_tesdoc.num_doc %></td>
  <td><%= show_tesdoc.data_doc %></td>
  <td><%= show_tesdoc.descriz %></td>
  <td><%= show_tesdoc.causmag.descriz %></td>
  <td><%= show_tesdoc.conto.descriz %></td>
  <td><%= show_tesdoc.sconto %></td>
  <td><%= link_to 'Dettaglio', show_tesdoc %></td>
</tr>
