<tr>
  <td><%= show_rigdoc.article.descriz %></td>
  <td><%= show_rigdoc.descriz %></td>
  <td><%= show_rigdoc.qta %></td>
  <td><%= show_rigdoc.prezzo %></td>
  <td><%= show_rigdoc.sconto %></td>
  <td><%= link_to 'Dettaglio', show_rigdoc %></td>
</tr>