<h1>Elenco Documenti</h1>
<br />
<%= render :partial => 'filter' %>

<br />
<br />
<table>
  <tr>
    <th>Azienda|</th>
    <th>AnnoEse|</th>
    <th>Tipo doc|</th>
    <th>Nr. doc|</th>
    <th>Data documento|</th>
    <th>Descrizione documento|</th>
    <th>Causale documento|</th>
    <th>TipoConto|</th>
    <th>CodiceConto|</th>
    <th>ContoAnagrafica|</th>
    <th>Magazzino sorgente|</th>
    <th>Magazzino destinaz.|</th>
    <th>Segue fattura|</th>
    <th>Sconto|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @tesdocs%>
  <%= render :partial => 'line', :collection => @tesdocs unless @tesdocs.empty? %>
</table>

<br />

<%= link_to 'Aggiungi documento', new_tesdoc_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>
