<h1>Elenco DOCUMENTI</h1>
<br />

<%= form_tag "/tesdocs", :method => :get do %>
  <div class="field">
    <%= label :filter, "Ricerca per:" %> ------ <%= label_tag :filter, "filtro:" %>
    <br/>
    <br/>
    <%= select :filter,
               :tp,
               {"Ragione sociale" => :RS, "Codice fiscale" => :CF,
                "Partiva iva" => :PI, "Mastro contabile" => :MS} %>
    <%= text_field :filter, :des, :size => 35 %>
  <div>
  <%= submit_tag 'AVVIA RICERCA' %>
<% end %>
<br />
<br />
<table>
  <tr>
    <th>Azienda|</th>
    <th>AnnoEse|</th>
    <th>Tipo doc|</th>
    <th>Nr. doc|</th>
    <th>Data documento|</th>
    <th>Descrizione documento|</th>
    <th>Causale documento|</th>
    <th>ContoAnagrafica|</th>
    <th>Sconto|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @tesdocs unless @tesdocs.empty? %>
</table>

<br />

<%= link_to 'Aggiungi documento', new_tesdoc_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>
