<h1>Listing tesdocs</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>AnnoEse</th>
    <th>Tipo doc</th>
    <th>Nr. doc</th>
    <th>Data documento</th>
    <th>Descrizione</th>
    <th>Causale</th>
    <th>ContoAnagrafica</th>
    <th>Sconto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tesdocs.each do |tesdoc| %>
  <tr>
    <td><%= tesdoc.azienda %></td>
    <td><%= tesdoc.annoese %></td>
    <td><%= tesdoc.tipo_doc %></td>
    <td><%= tesdoc.num_doc %></td>
    <td><%= tesdoc.data_doc %></td>
    <td><%= tesdoc.descriz %></td>
    <td><%= tesdoc.causmag.descriz %></td>
    <td><%= tesdoc.conto.descriz %></td>
    <td><%= tesdoc.sconto %></td>
    <td><%= link_to 'Show', tesdoc %></td>
    <td><%= link_to 'Edit', edit_tesdoc_path(tesdoc) %></td>
    <td><%= link_to 'Destroy', tesdoc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tesdoc', new_tesdoc_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>