<h1>Elenco Documenti (<%= Causmag::TIPO_DOC[se_tipo_doc.to_i] %>) </h1>
<br />
<%= render :partial => 'filter' %>

<br />
<br />
<table>
  <tr>
    <th>Azienda|</th>
    <th>AnnoEse|</th>
    <th>Tipo doc|</th>
    <th>Nr. doc|</th>
    <th>Data documento|</th>
    <th>Descrizione documento|</th>
    <th>Causale documento|</th>
    <th>TipoConto|</th>
    <th>CodiceConto|</th>
    <th>ContoAnagrafica|</th>
    <th>Magazzino sorgente|</th>
    <th>Magazzino destinaz.|</th>
    <th>Segue fattura|</th>
    <th>Sconto|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @tesdocs unless @tesdocs.nil? %>
  <%= render :partial => 'line', :collection => @tesdocs unless @tesdocs.nil? %>
</table>

<br />

<%= link_to 'Aggiungi documento', {:action => 'new',
                                   :causmag => @causmagfilter||"",
                                   :conto => @contofilter||""
                                  } %>
- <%= link_to 'Menu tipo-documenti', :action => "choose_tipo_doc" %>
