<h1>Elenco Documenti (<%= Causmag::TIPO_DOC[se_tipo_doc.to_i] %>) </h1>
<br />
<%= render :partial => 'filter' %>

<br />
<br />
<table>
  <tr>
    <th>Tipo doc|</th>
    <th>Nr. doc|</th>
    <th>Data documento|</th>
    <th>Causale documento|</th>
    <th>TipoConto|</th>
    <th>CodiceConto|</th>
    <th>ContoAnagrafica|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @tesdocs unless @tesdocs.nil? %>
  <%= render :partial => 'line', :collection => @tesdocs unless @tesdocs.nil? %>
</table>

<br />

<%= link_to 'Aggiungi documento', new_tesdoc_path(:causmag => @causmagfilter||"", :conto => @contofilter||""), :remote => true
                                   %>
- <%= link_to 'Menu tipo-documenti', choose_tipo_doc_tesdocs_path %>
- <%= link_to 'Carica Testate e righe doc', addtesrigdoc_fromxls_tesdocs_path, :confirm => 'Confermi caricamento da Exel?' %>
