<p id="notice"><%= notice %></p>
<h1>Mostra Documento</h1>
<p>
  <b>Azienda:</b>
  <%= @tesdoc.azienda %>
  <b>Annoese:</b>
  <%= @tesdoc.annoese %>
</p>

<p>
  <b>Tipo doc:</b>
  <%= @tesdoc.tipo_doc %>
  <b>Nr. documento:</b>
  <%= @tesdoc.num_doc %>
  <b>Data documento:</b>
  <%= @tesdoc.data_doc %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @tesdoc.descriz %>
  <b>Causale:</b>
  <%= @tesdoc.causmag.descriz %>
  <b>Codice conto anag.:</b>
  <%= @tesdoc.conto.codice %>
  <b>Conto anagrafica:</b>
  <%= @tesdoc.conto.descriz %>
  <b>Sconto:</b>
  <%= @tesdoc.sconto %>
</p>

<table>
  <tr>
    <th>Codice articolo</th>
    <th>Descrizione_articolo__________________________</th>
    <th>Descrizione_riga______________________________</th>
    <th>Quantita'</th>
    <th>Prezzo___</th>
    <th>Sconto___</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @rigdocs %>
  <%#= render :partial => '/rigdocs/line', :collection => @tesdoc.rigdocs unless @tesdoc.rigdocs.empty? %>
  <%= render :partial => '/rigdocs/line', :collection => @rigdocs unless @rigdocs.empty? %>
</table>

<%= link_to 'Indietro', tesdocs_path %>
<%= link_to 'Elimina documento', @tesdoc, :confirm => 'Confermi eliminazione?', :method => :delete %>
<%= link_to 'Modifica testata', edit_tesdoc_path %>
<%= link_to 'Aggiungi riga', :controller => :rigdocs, :action => :new, :id => @tesdoc.id %>
