<p id="notice"><%= notice %></p>

<p>
  <b>Azienda:</b>
  <%= @tesdoc.azienda %>
  <b>Annoese:</b>
  <%= @tesdoc.annoese %>
</p>

<p>
  <b>Tipo doc:</b>
  <%= @tesdoc.tipo_doc %>
  <b>Nr. documento:</b>
  <%= @tesdoc.num_doc %>
  <b>Data documento:</b>
  <%= @tesdoc.data_doc %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @tesdoc.descriz %>
  <b>Causale:</b>
  <%= @tesdoc.causmag.descriz %>
  <b>Codice conto anag.:</b>
  <%= @tesdoc.conto.codice %>
  <b>Conto anagrafica:</b>
  <%= @tesdoc.conto.descriz %>
  <b>Sconto:</b>
  <%= @tesdoc.sconto %>
</p>

<table>
  <tr>
    <th>Descrizione_Articolo__________________________</th>
    <th>Descrizione_Riga______________________________</th>
    <th>Quantita'</th>
    <th>Prezzo___</th>
    <th>Sconto___</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'show_rigdoc', :collection => @tesdoc.rigdocs unless @tesdoc.rigdocs.empty? %>
</table>

<%= link_to 'Indietro', tesdocs_path %>
<%= link_to 'Elimina documento', @tesdoc, :confirm => 'Confermi eliminazione?', :method => :delete %>
<%= link_to 'Modifica testata', edit_tesdoc_path %>
<%= link_to 'Aggiungi riga', addrow_tesdoc_path %>
