<h1>Mostra Documento (<%= Causmag::TIPO_DOC[se_tipo_doc.to_i] %>) </h1>
<p>
  <b>Azienda:</b>
  <%= @tesdoc.azienda %>
  <b>Annoese:</b>
  <%= @tesdoc.annoese %>
</p>

<p>
  <b>Tipo doc:</b>
  <%= Tesdoc::TIPO_DOC[@tesdoc.tipo_doc] %>
  <b>Nr. documento:</b>
  <%= @tesdoc.num_doc %>
  <b>Data documento:</b>
  <%= @tesdoc.data_doc.strftime('%d-%m-%Y') %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @tesdoc.descriz %>
  <b>Causale:</b>
  <%= @tesdoc.causmag.descriz %>
  <b>Codice conto anag.:</b>
  <%= @tesdoc.conto.codice %>
  <b>Conto anagrafica:</b>
  <%= @tesdoc.conto.descriz %>
</p>

<p>
  <b>Mag. origine</b>
  <%= Tesdoc::NRMAG[@tesdoc.nrmagsrc] %>

  <b>Mag. destinaz.</b>
  <%= Tesdoc::NRMAG[@tesdoc.nrmagdst] %>

  <b>Segue fattura:</b>
  <%= Tesdoc::SEGUEFATT[@tesdoc.seguefatt] %>
  <b>Sconto:</b>
  <%= @tesdoc.sconto %>
  
  <% unless @tesdoc.iva.nil? %>
    <b>Iva:</b>
    <%= @tesdoc.iva.descriz %>
  <% end %>
  
  <b>Totale imponibile:</b>
  <%= number_to_currency(@tesdoc.imponibile) %>
</p>

<table border=1 cellspacing=5 cellpadding=3>
  <tr>
    <th align=left  width=200 > Categoria </th>
    <th align=left  width=300 > Tipo imponibile </th>
    <th align=right width=120 > Imponibile </th>
    <th align=right width=80 > Aliquota </th>
    <th align=right width=120 > Imposta </th>
    <th align=right width=150 > Totale </th>
  </tr>
  <% @subtot_iva.each_key do |categ| %>
    <% @subtot_iva[categ].each_key do |idiva| %>
      <%= render :partial => 'tot_impon', :locals => {:categ=>categ, :subtot=>@subtot_iva[categ][idiva]} unless idiva == :T %>
    <% end %>
  <% end %>
<tr>
  <td><b>TOTALI:</b></td>
  <td></td>
  <td align=right > <b> <%= number_to_currency(@subtot_iva[:T][:T][:impon]) %> </b> </td>
  <td></td>
  <td align=right > <b> <%= number_to_currency(@subtot_iva[:T][:T][:imposta]) %> </b> </td>
  <td align=right > <b> <%= number_to_currency(@subtot_iva[:T][:T][:tot]) %> </b> </td>
</tr>
</table>
<br />
<table border="1" cellspacing=5 cellpadding=5 >
  <tr>
    <th align=left  > Codice articolo </b> </th>
    <th align=left width=600 > Descrizione </th>
    <th align=right > Qta'</th>
    <th align=right > Prezzo </th>
    <th align=right > Sconto </th>
    <th align=right > Imponibile </th>
    <th align=right > Iva </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @rigdocs %>
  <%= render :partial => '/rigdocs/line', :collection => @rigdocs unless @rigdocs.empty? %>
</table>

<br />
<br />
<%= link_to 'Elimina_documento', @tesdoc, :confirm => 'Confermi eliminazione?', :method => :delete %>
|<%= link_to 'Aggiungi_documento', new_tesdoc_path(:causmag => @tesdoc.causmag_id||"", :conto => @tesdoc.conto_id||"") %>
|<%= link_to '.Modifica_testata_', edit_tesdoc_path %>
|<%= link_to '____Stampa_DDT____', stp_ddt1_tesdoc_path %>
|<%= link_to 'Stampa_Fatt/NotaC.', stp_fat1_tesdoc_path %>
|<%= link_to 'Dati_spediz./pagam.', ges_datisped_tesdoc_path %>
<br />
<%= link_to '__Aggiungi_riga___', new_rigdoc_path(:id => @tesdoc.id) %>
|<%= link_to 'Carica_righe_da_file', upload_xls_tesdoc_path %>
|<%= link_to '1_riga_per_articolo', add1row4article_tesdoc_path %>
|<%= link_to 'Canc.righe_con_qta=0', delrowqta0_tesdoc_path %>
<br />
<%#= link_to 'Indietro', :back %>
<%= link_to 'Indietro', :controller => :tesdocs, :action => 'index', :tipo_doc => se_tipo_doc %>
