<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro',
                    {:controller => :tesdocs,  :action => 'index', 
                                               :tipo_doc => se_tipo_doc},
                    :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Modifica testata', edit_tesdoc_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Aggiungi documento', new_tesdoc_path(:causmag => @tesdoc.causmag_id||"",
                                                          :conto => @tesdoc.conto_id||""),
                    :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Elimina documento', @tesdoc, :confirm => 'Confermi eliminazione?',
                                        :method => :delete, :class => "button radius small" %>
      </li>
    </ul>
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Dati spediz./pagam.', ges_datisped_tesdoc_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Stampa', stp_tesdoc_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Dati Documento </legend>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Anno:", :class => "right" %>
        </div>
        <div class="three columns left">
          <%= @tesdoc.annoese %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Tipo documento:", :class => "right" %>
        </div>
        <div class="four columns left">
          <%= Tesdoc::TIPO_DOC[@tesdoc.tipo_doc] %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Nr documento:", :class => "right" %>
        </div>
        <div class="three columns">
          <%= @tesdoc.num_doc %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Data documento:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= @tesdoc.data_doc.strftime('%d-%m-%Y') %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Descrizione:", :class => "right" %>
        </div>
        <div class="three columns">
          <%= @tesdoc.descriz %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Causale:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= @tesdoc.causmag.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Codice conto:", :class => "right" %>
        </div>
        <div class="three columns">
          <%= @tesdoc.conto.codice %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Conto anagrafica:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= @tesdoc.conto.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Mag origine:", :class => "right" %>
        </div>
        <div class="three columns">
          <%= Tesdoc::NRMAG[@tesdoc.nrmagsrc] %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Mag destinazione:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= Tesdoc::NRMAG[@tesdoc.nrmagdst] %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Segue fattura:", :class => "right" %>
        </div>
        <div class="three columns">
          <%= Tesdoc::SEGUEFATT[@tesdoc.seguefatt] %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Sconto:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= @tesdoc.sconto %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= label @tesdoc, "Iva:", :class => "right" %>
        </div>
        <div class="three columns">
          <% @tesdoc.iva.nil? ? "" : @tesdoc.iva.descriz %>
        </div>
        <div class="two columns">
          <%= label @tesdoc, "Totale imponibile:", :class => "right" %>
        </div>
        <div class="four columns">
          <%= number_to_currency(@tesdoc.imponibile) %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Imponibili </legend>
      <table>
        <thead>
          <tr>
            <th align=left  width="20%">Categoria</th>
            <th align=left  width="31%">Tipo imponibile</th>
            <th style="text-align: right; width: 13%">Imponibile</th>
            <th style="text-align: right; width: 09%">Aliquota</th>
            <th style="text-align: right; width: 11%">Imposta</th>
            <th style="text-align: right; width: 16%">Totale</th>
          </tr>
        </thead>
        <tbody>
          <% @subtot_iva.each_key do |categ| %>
            <% @subtot_iva[categ].each_key do |idiva| %>
              <%= render :partial => 'tot_impon', :locals => {:categ=>categ, :subtot=>@subtot_iva[categ][idiva]} unless idiva == :T %>
            <% end %>
          <% end %>
          <tr>
            <td><b>TOTALI:</b></td>
            <td></td>
            <td style="text-align: right;"><b><%= number_to_currency(@subtot_iva[:T][:T][:impon]) %></b></td>
            <td></td>
            <td style="text-align: right;"><b><%= number_to_currency(@subtot_iva[:T][:T][:imposta]) %></b></td>
            <td style="text-align: right;"><b><%= number_to_currency(@subtot_iva[:T][:T][:tot]) %></b></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Aggiungi riga', new_rigdoc_path(:id => @tesdoc.id), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Carica righe da file', upload_xls_tesdoc_path(:id => @tesdoc.id), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to '1 riga per articolo', add1row4article_tesdoc_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Canc.righe con qta=0', delrowqta0_tesdoc_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Dettaglio righe </legend>
      <table>
        <thead>
          <tr>
            <th style="text-align: left;  width: 15%"> Codice articolo </th>
            <th style="text-align: right; width: 05%"> Qta'</th>
            <th style="text-align: right; width: 20%"> Prezzo </th>
            <th style="text-align: right; width: 15%"> Sconto </th>
            <th style="text-align: right; width: 20%"> Imponibile </th>
            <th width="20%"></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => '/rigdocs/line', :collection => @rigdocs unless @rigdocs.empty? %>
        </tbody>
      </table>
      <%= will_paginate @rigdocs %>
    </fieldset>
  </div>
</div>
