<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<%= render :partial => 'btn_tesdoc' %>
<%= render :partial => 'dati_tesdoc' %>
<hr />
<dl class="tabs">
  <dd class="active"><a href="#listrow">Elenco righe</a></dd>
  <dd>
    <a href="#sped">Spedizione/Pagamento</a>
  </dd>
  <dd>
    <a href="#tot_imp">Totali Imponibili</a>
  </dd>
</dl>

<ul class="tabs-content">
  <li id="tot_impTab">
    <%= render :partial => 'tab_imp' %>
  </li>

  <li class="active" id="listrowTab">
    <%= render :partial => '/rigdocs/btn_rigdoc' %>
    <%= render :partial => '/rigdocs/tab_rigdoc' %>
  </li>
  <li id="spedTab">
    <%= render :partial => '/spedizs/btn_spediz' %>
    <% if @spediz %>
      <%= render '/spedizs/show' %>
    <% end %>
  </li>
</ul>

