<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
</div><%= form_tag 'addrow_fromxls', :multipart => true do %>
  <fieldset>
    <legend> Elabora file </legend>
    <div class="ten columns offset-by-one">
	    <label for="file">File excel da caricare </label>
      <%= file_field_tag "file" %>
    </div>
    <div class="ten columns offset-by-one">
      <%= submit_tag %>
    </div>
  </fieldset>
<% end %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', @tesdoc, :class => "button radius small back foundicon-left-arrow" %>
  </li>
</ul>
