<%#= render :partial => 'shared/error_messages', :locals => {:f => @user} %>
<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="twelve columns">
      <%= f.label "Nome utente:" %>
      <%= f.text_field :login %>
    </div>
    <div class="five columns">
      <%= f.label "Password" %>
      <%= f.password_field :pwd %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Conferma Password", "Confirmation" %>
      <%= f.password_field :pwd_confirmation %>
    </div>
    <div class="three columns">
      <%= f.label :azienda %>
      <%= select(:user, :azienda, (StaticData::ELNCAZND).invert.sort) %>
    </div>
    <div class="twelve columns">
      <%= f.submit 'SALVA', :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', users_path, :class => "button radius small cancel foundicon-remove" %>
    </div>
  </div>
<% end %>
