<h1><%= @title %></h1>
<br />
<br />
<%= form_for(@user) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:f => @user} %>
	<div class="field">
	  <%= f.label :login %>
	  <%= f.hidden_field :login %>
	  <b> <%= @user.login %> </b>
	</div>
	<div class="field">
	  <%= f.label :pwd %>
	  <br />
	  <%= f.password_field :pwd %>
	</div>
	<div class="field">
	  <%= f.label :pwd_confirmation, "Confirmation" %>
	  <br />
	  <%= f.password_field :pwd_confirmation %>
	</div>
	<div class="field">
	  <%= f.label :azienda %>
	  <%= f.hidden_field :azienda %>
	  <b> <%= StaticData::ELNCAZND[@user.azienda] %> </b>
	</div>
  <div class="actions">
	  <%= f.submit "Modifica Password" %>
  </div>
<% end %>
<%#= link_to 'Indietro', :back %>
<%= link_to 'Indietro', users_path %>
