<fieldset>
  <legend> Estrazione utenti </legend>
  <%= form_tag(do_export_filter_users_path, :method => :post) do %>

    <div class="row">
      <div class="six columns">
        <div class="row">
          <div class="four columns">
            <label>
              Tipo anagrafica
            </label>
          </div>
          <div class="six columns">
            <%= select_tag("status", options_for_select([["Anagrafica non completa", 1], ["Anagrafica completa", 2]], 1)) %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label>
              Verifica consenso
            </label>
          </div>
          <div class="six columns">
            <%= select_tag("fl_consenso", options_for_select([["Si", 1], ["No", 0]], 1)) %>
          </div>

          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label>
              Ordine effettuato
            </label>
          </div>
          <div class="six columns">
            <%= select_tag("fl_ordine", options_for_select([["Si", 1], ["No", 0]], 1)) %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label style="padding-top: 15px;">
              Data ultimo ordine da
            </label>
          </div>
          <div class="six columns">
            <%= jdate_field(:export_filter, :dt_start, nil, date: true) %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label style="padding-top: 15px;">
              Data ultimo ordine a
            </label>
          </div>
          <div class="six columns">
            <%= jdate_field(:export_filter, :dt_end, nil, date: true) %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label style="padding-top: 15px;">
              Categoria
            </label>
          </div>
          <div class="six columns">
            <%= select_tag "key_word_id", options_from_collection_for_select(@key_words, "id", "get_dinasty"), { prompt: "--- seleziona ---" } %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label style="padding-top: 15px;">
              Articolo
            </label>
          </div>
          <div class="six columns">
            <%= select_tag "article_id", options_from_collection_for_select(@articles, "id", "descriz"), { prompt: "--- seleziona ---" } %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label style="padding-top: 15px;">
              Coupon in scadenza?
            </label>
          </div>
          <div class="six columns">
            <%= select_tag(:coupon_in_scadenza, Anagen::SPLIT_PAYEMENTS, {prompt: true}) %>
          </div>
          <div class="two columns"> </div>
        </div>

        <div class="row">
          <div class="four columns"> </div>
          <div class="six columns">
            <%= submit_tag 'ELABORA', :class => "button radius small search foundicon-search", name: "export_xls" %>
          </div>
          <div class="two columns"> </div>
        </div>

      </div>
      <div class="six columns coupons">
        <%= render "coupons_form" %>
      </div>
    </div>

  <% end %>
</fieldset>
