<h1> <%= @title %> </h1>

<%= will_paginate %>
<u1 class="users" >
  <% @users.each do |user| %>
  	<%= user.login %>
    <%= link_to "Elimina", user, :method => :delete, :confirm => "Are you sure?", :title => "Delete #(user.login)" %> 
    <%= link_to "Modifica", edit_user_path(user) %> 
  <% end %>
</u1>
<br />
<br />
<br />
<%= link_to 'Nuovo utente', new_user_path %> |
<%= link_to 'Indietro', :back %>
<%#= link_to 'Indietro', users_path %>