<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', users_path, :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_user_path(@user), :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @user, :confirm => 'Confermi eliminazione?',
                                  :method => :delete, :class => "button radius small alert foundicon-remove" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @user, "Nome utente:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @user.login %>
  </div>
</div>
