<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', users_path, :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_user_path(@user), :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @user, :confirm => 'Confermi eliminazione?',
                                  :method => :delete, :class => "button radius small alert foundicon-trash" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @user, "Nome utente:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @user.login %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @user, "Tipologia utente:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @user.d_user_tp %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @user, "Privilegi:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @user.privilege %>
  </div>
  <div class="three columns"> </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @user, "Anagrafica:", :class => "right" %>
  </div>
  <div class="ten columns">
    <% if @user.anagen %>
      <%= link_to "Anagen", @user.anagen %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @user, "Token:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @user.token ? "SI" : "NO" %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @user, "Scadenza token:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= to_datetime(@user.dt_exp_token) %>
  </div>
</div>
