<table>
  <thead>
    <tr>
      <th>Codice</th>
      <th>Data inizio</th>
      <th>Data fine</th>
      <th>Valore</th>
      <th>Perc.</th>
      <th>Sped?</th>
      <th>Ordine min</th>
      <th>Stato</th>
      <th>Dato utilizzo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @coupons.each do |line| %>
      <tr>
        <td><%= line.code %></td>
        <td><%= to_date(line.dt_start) %></td>
        <td><%= to_date(line.dt_end) %></td>
        <td><%= to_currency(line.value) %></td>
        <td><%= line.perc || 0.0 %> %</td>
        <td><%= line.d_spediz %></td>
        <td><%= to_currency(line.ord_min) %></td>
        <td><%= line.d_state %></td>
        <td><%= to_date(line.dt_use) %></td>
        <td><%= link_to '', edit_coupon_path(line), :class => "button radius tiny modify foundicon-edit", :title => "Modifica" %></td>
        <td><%= link_to '', line, :confirm => 'Confermi?', :method => :delete, :class => "button radius tiny alert foundicon-trash", :title => "Cancella" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

