<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="button-bar">
  <ul class="button-group">
    <li>
      <%= link_to 'NUOVO', new_coupon_path(state: @state), :class => "button radius small new foundicon-add-doc" %>
    </li>
  </ul>
</div>

<% if @state == 1 %>
  <%= render "generic_coupon" %>
<% else %>
  <%= render "codes_coupon" %>
<% end %>

<%= will_paginate @coupons %>
