<tr>
  <table>
    <span>
      <%= rigdoc.article.descriz %>
      <%= rigdoc.descriz %>
      <%= rigdoc.qta %>
      <%= rigdoc.prezzo %>
      <%= rigdoc.sconto %>
    </span>
  </table>
  <%#= link_to "delete", rigdoc, :method => :delete,
                                :confirm => "You sure?",
                                :title => rigdoc.descriz %>
</tr>