<div class="row">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
      <h1>
        <%= link_to "G.M.A", root_path %>
      </h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <!-- Right Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#" class="foundicon-add-doc">DOCUMENTI</a>
          <ul class="dropdown">
            <% Tesdoc::TIPO_DOC.each do |k, v| %>
              <li> <%= link_to v.upcase, tesdocs_path(:tipo_doc => k) %> </li>
            <% end %>
            <li> <%= link_to "SCADENZE", filter_scadenzas_path %> </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="foundicon-address-book">
            ANAGRAFICA
          </a>
          <ul class="dropdown">
            <li> <%= link_to "SOGGETTI", anagens_path %> </li>
            <li> <%= link_to "ARTICOLI", articles_path %> </li>
            <li> <%= link_to "CITTA'", localitas_path %> </li>
            <li> <%= link_to "STATI/NAZIONI", paeses_path %> </li>
            <li> <%= link_to "IVA/ESENZIONI", ivas_path %> </li>
            <li> <%= link_to "AGENTI", agentes_path %> </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="foundicon-settings">
            CAUSALI
          </a>
          <ul class="dropdown">
            <li> <%= link_to "CONTABILI", causales_path %> </li>
            <li> <%= link_to "DI MAGAZZINO", causmags_path %> </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="foundicon-edit">
            CONTI
          </a>
          <ul class="dropdown">
            <li> <%= link_to "CLIENTI", contos_path(:tipoconto => 'C') %> </li>
            <li> <%= link_to "FORNITORI", contos_path(:tipoconto => 'F') %> </li>
            <li> <%= link_to "ALTRO", contos_path(:tipoconto => 'A') %> </li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="foundicon-edit">
            SERVIZI
          </a>
          <ul class="dropdown">
            <li> <%= link_to "CARICA ORDINE(xml)", import_by_xml_tesdocs_path(:tp=>:f1) %> </li>
            <li> <%= link_to "SPED. MASSIVA ABBONAMENTI", import_by_xml_tesdocs_path(:tp=>:f3) %> </li>
            <li> <%= link_to "SPED. SINGOLO ABBONAMENTO", import_by_xml_tesdocs_path(:tp=>:f4) %> </li>
            <li> <%= link_to "CONFIGURAZIONI", confs_path %> </li>
          </ul>
        </li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "ESCI", signout_path, :method => :delete, :class=> "foundicon-left-arrow" %></li>
        <li class="divider"></li>
        <li><%= link_to "CAMBIA (#{current_annoese.to_s})", new_session_path(:login => current_user.login), :class=> "foundicon-refresh" %></li>
      </ul>
    </section>
  </nav>
</div>
