<div class="row">
  <div class="two columns">
    <%= label @event, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @event.description %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Data:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= to_mydate(@event.dt_event) %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @event, "Tiratura:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @event.quantity %>
  </div>
</div>
