<div class="row">
  <div class="two columns">
    <%= label @event, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @event.description %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "1째 data evento:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_event) %>
  </div>
  <div class="two columns">
    <%= label @event, "2째 data evento:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_event2) %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "3째 data evento:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_event3) %>
  </div>
  <div class="two columns">
    <%= label @event, "4째 data evento:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_event4) %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Orario:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= @event.timetable %>
  </div>
  <div class="two columns">
    <%= label @event, "Durata (gg):", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= @event.duration %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Chiusura isc:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_end_isc) %>
  </div>
  <div class="two columns">
    <%= label @event, "Stato:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= @event.dstate %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Data limite sconto:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_discount) %>
  </div>
  <div class="two columns">
    <%= label @event, "Gg x chiusura iscr:", :class => "right" %>
  </div>
  <div class="four columns left">
    <%= to_mydate(@event.dt_end_isc) %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Sede:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= link_to(@event.site_anagen.denomin, @event.site_anagen, target: "_blank") if @event.site_anagen %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @event, "Abbigliamento consigliato:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @event.dressing %>
  </div>
</div>




