<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<%= render "buttons" %>

<dl class="tabs">
  <dd class="active"><a href="#gen">Dati generali</a></dd>
  <% if @event.rivista? %>
    <dd><a href="#ships">Spedizioni</a></dd>
  <% else %>
    <% unless @event.libro? %>
      <dd><a href="#teachers">Istruttori</a></dd>
      <dd><a href="#organizers">Organizzatori</a></dd>
    <% end %>
    <dd><a href="#subscribers">Iscritti</a></dd>
  <% end %>

  <dd><a href="#keywords">Key Word</a></dd>
</dl>


<ul class="tabs-content">
  <li class="active" id="genTab">
    <%= render partial: "info" %>
  </li>

  <li id="keywordsTab">
    <%= render partial: "shared/key_word_rels", locals: {orig: @event, items_addable: @key_words_addable} %>
  </li>

  <li id="teachersTab">
    <%= render partial: "event_states", locals: { event_states: @teachers, mode: EventState::TEACHER, addables: @anagens_addable } %>
  </li>

  <li id="organizersTab">
    <%= render partial: "event_states", locals: { event_states: @organizers, mode: EventState::ORGANIZER, addables: @anagens_addable  } %>
  </li>

  <li id="subscribersTab">
    <%= render partial: "event_states", locals: { event_states: @subscribers, mode: EventState::SUBSCRIBER, addables: @anagens_addable  } %>
  </li>

  <li id="shipsTab">
    <%= render partial: "event_states", locals: { event_states: @shipments, mode: EventState::SHIPMENT, addables: @anagens_addable  } %>
  </li>
</ul>

