<%= render :partial => 'shared/error_messages', :locals => {:f => @paese} %>
<%= form_for(@paese) do |f| %>

  <div class="field">
    <b> <%= f.label "Descrizione" %> </b> <br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <b> <%= f.label "Tipo/Appartenenza" %> </b> <br />
    <%= select(:paese, :tpeu, Paese::TPEU.invert.sort, { :prompt => true }) %>
  </div>
  <div class="field">
    <b> <%= f.label "Codice belfiore (CF)" %> </b> <br />
    <%= f.text_field :codfis, :size => 5 %>
  </div>
  <div class="field">
    <b> <%= f.label "Prefisso P_Iva" %> </b> <br />
    <%= f.text_field :prepiva, :size => 5 %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
