<% if @anagen.tipo == "G" %>
  <% @anagen.luogonas_id = nil %>
  <% @anagen.dtnas = "" %>
  <% @anagen.sesso = "" %>
<% else %>
  <div class="five columns">
    <%= label @anagen.luogonas_id, "Luogo di nascita" %>
    <%= collection_select :anagen, :luogonas_id,
                          Localita.all, :id, :descriz,
                          {:include_blank => true} %>
  </div>
  <div class="two columns"></div>
  <div class="three columns">
    <%= label @anagen.dtnas, "Data di nascita" %>
    <%#= date_select :anagen,
                    :dtnas,
                    {:order => [:day, :month, :year],
                     :use_month_numbers => true,
                     :start_year => 1900,
                     :include_blank => true} %>
    <%= text_field :anagen, :dtnas %>
  </div>
  <div class="two columns">
    <%= label @anagen.sesso, "Sesso" %>
    <%= select(:anagen, :sesso, [["Maschile", "M"],["Femminile", "F"]], { :include_blank => true })%>
  </div>
<% end %>
