<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Ricerca anagrafiche </legend>
      <%= form_tag(:filter_anagens, :method => :get) do %>
        <div class="three columns">
          <%= label :filter_anagens, "Ricerca per" %>
          <%= select_tag("tpfilter",
                         options_for_select([["Ragione sociale", "RS"], ["Codice fiscale", "CF"],
                                             ["Partiva iva", "PI"]], @tpfilter)) %>
        </div>
        <div class="five columns">
          <%= label :filter_anagens, "." %>
          <%= text_field_tag "desfilter", @desfilter %>
        </div>
        <div class="twelve columns">
          <%= submit_tag 'FILTRA', :class => "button radius small" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
<hr />
