<%#= render :partial => 'shared/error_messages', :locals => {:f => @anagen} %>
<%= form_for(@anagen) do |f| %>
  <%= f.hidden_field :codice %>
  <div class="row">
    <div class="five columns">
      <%= f.label "Codice" %>
      <%= f.number_field :codice, :disabled => true %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label :tipo %>
      <%= f.select(:tipo, Anagen::TIPO.invert.sort, { :prompt => true}, 
                 {:data => {:remote => true, :url => url_for(:controller => :anagens,
                                                             :action => :chg_tipo)}}) %>
    </div>
    <div class="twelve columns">
      <%= f.label "Denominazione" %>
      <%= f.text_field :denomin %>
    </div>
    <div class="five columns">
      <%= f.label "Partita Iva" %>
      <%= f.text_field :pariva %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Codice Fiscale" %>
      <%= f.text_field :codfis %>
    </div>
    <span id="datinas">
      <%= render(:partial => 'datinas') %>
    </span>
    <div class="five columns">
      <%= f.label "Telefono" %>
      <%= f.text_field :telefono %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Fax" %>
      <%= f.text_field :fax %>
    </div>
    <div class="five columns">
      <%= f.label "E-mail" %>
      <%= f.text_field :email %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Sito Web" %>
      <%= f.text_field :web %>
    </div>
    <div class="five columns">
      <%= f.label "Inserisci Conto Cliente" %>
      <%= check_box_tag 'ins_conto', 'S', true %>
    </div>
    <div class="two columns"></div>
    <div class="five columns"></div>
    <hr />
    <div class="twelve columns">
      <%= f.submit 'SALVA', :class => "button radius small" %>
      <%= link_to 'ANNULLA', anagens_path, :class => "button radius small" %>
    </div>
  </div>
<% end %>
