<%= form_for(@anagen) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @anagen} %>

  <div class="field">
    <%= f.label :codice %><br />
    <%= f.number_field :codice %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= select(:anagen, :tipo, [["Ditta individuale", "I"], ["Persona fisica", "F"], ["Persona giuridica", "G"]], { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "Denominazione" %><br />
    <%= f.text_field :denomin, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label "Codice Fiscale" %><br />
    <%= f.text_field :codfis, :size => 35 %>
  </div>
  <div class="field">
    <%= f.label "Partita Iva" %><br />
    <%= f.text_field :pariva %>
  </div>
  <div class="field">
    <%= f.label "Telefono" %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.text_field :email, :size => 45 %>
  </div>
  <div class="field">
    <%= f.label "Fax" %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label "Sito Web" %><br />
    <%= f.text_field :web, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label "Sconto" %><br />
    <%= f.text_field :sconto, :size => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
