<%= render :partial => 'shared/error_messages', :locals => {:f => @anagen} %>
<%= form_for(@anagen) do |f| %>

  <div class="field">
    <%= f.label :codice %>
    <%= f.number_field :codice %>
    <%= f.label :tipo %>
    <%= select(:anagen, :tipo, Anagen::TIPO.invert, { :prompt => true }) %>
    <%= f.label "Denominazione" %>
    <%= f.text_field :denomin, :size => 55 %>
  </div>
  <div class="field">
    <%= f.label "Codice Fiscale" %>
    <%= f.text_field :codfis, :size => 35 %>
    <%= f.label "Partita Iva" %>
    <%= f.text_field :pariva %>
  </div>
  <div class="field">
    <%= f.label "Telefono" %>
    <%= f.text_field :telefono %>
    <%= f.label "Fax" %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.text_field :email, :size => 45 %>
    <%= f.label "Sito Web" %>
    <%= f.text_field :web, :size => 55 %>
    <%= f.label "Sconto" %>
    <%= f.text_field :sconto, :size => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
