<tr>
  <td><%= line.codice %></td>
  <td><%= Anagen::TIPO[line.tipo] %></td>
  <td><%= line.denomin %></td>
  <td><%= line.pi_or_cf %></td>
  <td>
    <%= link_to '', line, :class => "button radius tiny detail foundicon-page", :title => "Dettaglio" %>
  </td>
</tr>
