<tr>
  <td><%= line.codice %></td>
  <td><%= Anagen::TIPO[line.tipo] %></td>
  <td><%= line.denomin %></td>
  <td><%= line.codfis %></td>
  <td><%= line.pariva %></td>
  <td><%= line.telefono %></td>
  <td><%= line.email %></td>
  <td><%= line.fax %></td>
  <td><%= line.web %></td>
  <td><%= line.sconto %></td>
  <td><%= link_to 'Dettaglio', line %></td>
</tr>
