<%= render :partial => 'shared/main_title', :locals => {:t => @title, :record => nil} %>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <%= render :partial => 'filter' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Nuova Anagrafica', new_anagen_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<% unless @anagens.nil?||@anagens.empty? %>
  <div class="row">
    <div class="twelve columns">
      <div class="panel">
        <table>
          <thead>
            <tr>
              <th width="6%">Codice</th>
              <th width="10%">Tipo</th>
              <th width="65%">Nominat./Ragione sociale</th>
              <th width="15%">P.I.-C.F.</th>
              <th width="4%"></th>
            </tr>
          </thead>
          <tbody>
              <%= render :partial => 'line', :collection => @anagens unless @anagens.empty? %>
          </tbody>
        </table>
        <%= will_paginate @anagens %>
      </div>
    </div>
  </div>
<% end %>