<h1><%= @title %></h1>
<%= will_paginate @anagens %>
<table>
  <tr>
    <th>Codice</th>
    <th>Tipo</th>
    <th>Denomin</th>
    <th>Luogo di nascita</th>
    <th>Data di nascita</th>
    <th>Sesso</th>
    <th>Codfis</th>
    <th>Pariva</th>
    <th>Telefono</th>
    <th>E-Mail</th>
    <th>Fax</th>
    <th>Sito Web</th>
    <th colspan="3"></th>
  </tr>

  <%= render :partial => 'line', :collection => @anagens unless @anagens.empty? %>
</table>

<br />

<%= link_to 'Nuova Anagrafica', new_anagen_path %> <br />
<%= link_to 'Indietro', anagens_path %>
