<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<%= render partial: "buttons" %>

<hr>

<dl class="tabs">
  <dd class="active"><a href="#gen">Dati anagrafici</a></dd>
  <dd><a href="#addresses">Indirizzi</a></dd>
  <dd><a href="#keywords">Key Word</a></dd>
  <% if @anagen.author? %>
    <dd><a href="#articles">Libri pubblicati</a></dd>
  <% end %>
  <% if @anagen.stampatore? %>
    <dd><a href="#printers">Libri stampati</a></dd>
  <% end %>
</dl>

<ul class="tabs-content">
  <li class=active" id="genTab">
    <%= render partial: "info" %>
  </li>

  <li id="addressesTab">
    <%= render partial: "anainds" %>
  </li>

  <li id="keywordsTab">
    <%= render partial: "shared/key_word_rels", locals: {orig: @anagen, items_addable: @key_words_addable} %>
  </li>

  <li id="articlesTab">
    <%= render partial: "articles", locals: {anagen_articles: @art_author} %>
  </li>

  <li id="printersTab">
    <%= render partial: "articles", locals: {anagen_articles: @art_print} %>
  </li>
</ul>


