<p id="notice"><%= notice %></p>

<p>
  <b>Codice:</b>
  <%= @anagen.codice %>
</p>

<p>
  <b>Tipo:</b>
  <%= @anagen.tipo %>
</p>

<p>
  <b>Cognome:</b>
  <%= @anagen.cognome %>
</p>

<p>
  <b>Nome:</b>
  <%= @anagen.nome %>
</p>

<p>
  <b>Ragsoc:</b>
  <%= @anagen.ragsoc %>
</p>

<p>
  <b>Codfis:</b>
  <%= @anagen.codfis %>
</p>

<p>
  <b>Pariva:</b>
  <%= @anagen.pariva %>
</p>


<%= link_to 'Edit', edit_anagen_path(@anagen) %> |
<%= link_to 'Back', anagens_path %>
