<p id="notice"><%= notice %></p>
<h1>Mostra Anagrafica soggetti</h1>
<p>
  <b>Codice:</b>
  <%= @anagen.codice %>
  <b>Tipo:</b>
  <%= @anagen.tipo %>
  <b>Denominazione:</b>
  <%= @anagen.denomin %>
</p>

<p>
  <b>Codfis:</b>
  <%= @anagen.codfis %>
  <b>Pariva:</b>
  <%= @anagen.pariva %>
</p>

<p>
  <b>Telefono:</b>
  <%= @anagen.telefono %>
  <b>Fax:</b>
  <%= @anagen.fax %>
</p>

<p>
  <b>E-mail:</b>
  <%= @anagen.email %>
  <b>Sito Web:</b>
  <%= @anagen.web %>
  <b>Sconto:</b>
  <%= @anagen.sconto %>
</p>

<table>
  <tr>
    <th>Tipo ind</th>
    <th>Indirizzo__________________________</th>
    <th>Localita_______________________</th>
    <th>Cap</th>
    <th>Nr.Mag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => '/anainds/line', :collection => @anagen.anainds unless @anagen.anainds.empty? %>
  <br>
  </br>
</table>
<br>
</br>

<%= link_to 'Indietro', anagens_path %>
<%= link_to 'Elimina anagrafica', @anagen, :confirm => 'Confermi eliminazione?', :method => :delete %>
<%= link_to 'Modifica anagrafica', edit_anagen_path %>
<%= link_to 'Aggiungi', :controller => :anainds, :action => :new, :id => @anagen.id %>
