<p id="notice"><%= notice %></p>
<h1>Mostra Anagrafica soggetti</h1>
<p>
  <b>Codice:</b>
  <%= @anagen.codice %>
</p>

<p>
  <b>Tipo:</b>
  <%= @anagen.tipo %>
</p>

<p>
  <b>Denominazione:</b>
  <%= @anagen.denomin %>
</p>

<p>
  <b>Codfis:</b>
  <%= @anagen.codfis %>
</p>

<p>
  <b>Pariva:</b>
  <%= @anagen.pariva %>
</p>

<p>
  <b>Telefono:</b>
  <%= @anagen.telefono %>
</p>

<p>
  <b>E-mail:</b>
  <%= @anagen.email %>
</p>

<p>
  <b>Fax:</b>
  <%= @anagen.fax %>
</p>

<p>
  <b>Sito Web:</b>
  <%= @anagen.web %>
</p>

<p>
  <b>Sconto:</b>
  <%= @anagen.sconto %>
</p>

<%= link_to 'Modifica', edit_anagen_path(@anagen) %> |
<%= link_to 'Indietro', anagens_path %>
