<h1>Elenco articoli</h1>
<table>
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @articles %>
  <%= render :partial => 'line', :collection => @articles unless @articles.empty? %>
</table>

<br />

<%= link_to 'Nuovo Articolo', new_article_path %>
<%= link_to 'Stampa Movimenti', filter_mov_vend_all_articles_path(:tp => "M") %>
<%= link_to 'Stampa Movimenti(XLS)',  filter_mov_vend_all_xls_articles_path(:tp => "M") %>
<%= link_to 'Stampa Vendite',   filter_mov_vend_all_articles_path(:tp => "V") %>
<%= link_to 'Stampa Vendite(XLS)',  filter_mov_vend_all_xls_articles_path(:tp => "V") %>
