<%= render :partial => 'shared/error_messages', :locals => {:f => @anaind} %>
<%= form_for @anaind do |f| %>
  <div class="field">
    <%= hidden_field(:anaind, :anagen_id) %>
    <b> <%= f.label "Indirizzo valido come:" %> </b>
    <br />  <br />
    <%= check_box :anaind, :flsl, {}, 'S', 'N' %> <b> Sede legale </b> <br /> 
    <%= check_box :anaind, :flsp, {}, 'S', 'N' %> <b> Indirizzo di spedizione </b> <br />
    <%= check_box :anaind, :flmg, {}, 'S', 'N' %> <b> Indirizzo di magazzino </b> <br /> <br />
    <b> <%= f.label "Indirizzo" %> </b>
    <%= f.text_field :indir, :size => 50 %>
  </div>
  <div class="field">
    <b> <%= f.label "Localita" %> </b>
    <%= collection_select(:anaind, :localita_id, Localita.all, :id, :descriz,
                          {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :anainds,
                                                                        :action => :descrizloc)}})%>
    <%= f.text_field(:desloc, {:size => 50, :data => {:remote => true, :url => url_for(:controller => :anainds, :action => :reset_locid)}})%>

    <b> <%= f.label "Cap" %> </b>
    <%= f.text_field :cap, :size => 5 %>
    <b> <%= f.label "Indirizzo valido per:" %> </b>
    <%= select(:anaind, :nrmag, (Anaind::NRMAG).invert.sort) %>
  </div>
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
