<tr>
  <td><%= line.decoflgs %></td>
  <td><%= line.indir %></td>
  <td><%= line.desloc %></td>
  <td><%= line.cap %></td>
  <td><%= line.nrmag %></td>
  <td><%= link_to 'Dettaglio', line %></td>
</tr>
