<tr>
  <td><%= line.tpind %></td>
  <td><%= line.indir %></td>
  <td><%= line.localita %></td>
  <td><%= line.cap %></td>
  <td><%= line.nrmag %></td>
  <td><%= link_to 'Dettaglio', line %></td>
</tr>
