<h1>Listing anainds</h1>

<table>
  <tr>
    <th>Anagen</th>
    <th>Tpind</th>
    <th>Indir</th>
    <th>Localita</th>
    <th>Cap</th>
    <th>Nrmag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anainds.each do |anaind| %>
  <tr>
    <td><%= anaind.anagen %></td>
    <td><%= anaind.tpind %></td>
    <td><%= anaind.indir %></td>
    <td><%= anaind.localita %></td>
    <td><%= anaind.cap %></td>
    <td><%= anaind.nrmag %></td>
    <td><%= link_to 'Show', anaind %></td>
    <td><%= link_to 'Edit', edit_anaind_path(anaind) %></td>
    <td><%= link_to 'Destroy', anaind, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anaind', new_anaind_path %>
