<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', @anaind.anagen, :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_anaind_path, :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @anaind, :confirm => 'Confermi eliminazione?',
                                    :method => :delete, :class => "button radius small alert foundicon-remove" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @anaind, "Indirizzo:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @anaind.indir %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @anaind, "Localita':", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @anaind.desloc %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @anaind, "Valido come:", :class => "right" %>
  </div>
  <div class="ten columns left">
    <%= @anaind.decoflgs %>
  </div>
</div>
<% if @anaind.flmg == "S" %>
  <div class="row">
  <div class="two columns">
      <%= label @anaind, "Rif. magazzino:", :class => "right" %>
    </div>
    <div class="ten columns left">
      <%= Anaind::NRMAG[@anaind.nrmag] %>
    </div>
  </div>
<% end %>
