<%= form_for(@prezzoarticcli) do |f| %>
  <% if @prezzoarticcli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prezzoarticcli.errors.count, "error") %> prohibited this prezzoarticcli from being saved:</h2>

      <ul>
      <% @prezzoarticcli.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Anagrafica cliente" %><br />
    <%= collection_select :prezzoarticcli, :anag_id, Anagen.all, :id, :nominativo, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label "Articolo" %><br />
    <%= collection_select :prezzoarticcli, :artic_id, Article.all, :id, :descriz, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :prezzo %><br />
    <%= f.text_field :prezzo %>
    <% number_field_tag 'Prezzo', nil, :in => 0...999999 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
