<h1>Listing prezzoarticclis</h1>

<table>
  <tr>
    <th>Nominativo cliente</th>
    <th>Codice articolo</th>
    <th>Descrizione articolo</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prezzoarticclis.each do |prezzoarticcli| %>
  <tr>
    <td><%= prezzoarticcli.anag.nominativo %></td>
    <td><%= prezzoarticcli.artic.codice %></td>
    <td><%= prezzoarticcli.artic.descriz %></td>
    <td><%= prezzoarticcli.prezzo %></td>
    <td><%= link_to 'Show', prezzoarticcli %></td>
    <td><%= link_to 'Edit', edit_prezzoarticcli_path(prezzoarticcli) %></td>
    <td><%= link_to 'Destroy', prezzoarticcli, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prezzoarticcli', new_prezzoarticcli_path %>
