<%#= render :partial => 'shared/error_messages', :locals => {:f => @causale} %>
<%= form_for(@causale) do |f| %>
  <%= f.hidden_field :azienda %>
  <div class="row">
    <div class="twelve columns">
      <%= f.label "Descrizione" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="five columns">
      <%= f.label "Conto IVA" %>
      <%= f.number_field :contoiva %>
    </div>
    <div class="two columns"></div>
    <div class="two columns">
      <%= f.label "tipologia REG" %>
      <%= select(:causale, :tiporeg, Causale::TIPOREG.invert.sort, { :prompt => true }) %>
    </div>
    <div class="two columns">
      <%= f.label "tipologia IVA" %>
      <%= select(:causale, :tipoiva, Causale::TIPOIVA.invert.sort, { :prompt => true }) %>
    </div>
    <div class="twelve columns">
      <%= f.submit 'SALVA', :class => "button radius small" %>
      <%= link_to 'ANNULLA', causales_path, :class => "button radius small" %>
    </div>
  </div>
<% end %>
