<tr>
  <td><%= line.descriz %></td>
  <td><%= Causale::TIPOREG[line.tiporeg] %></td>
  <td><%= Causale::TIPOIVA[line.tipoiva] %></td>
  <td><%= line.contoiva %></td>
  <td><%= link_to 'Visualizza', line %></td>
  <td><%= link_to 'Modifica', edit_causale_path(line) %></td>
  <td><%= link_to 'Elimina', line, :confirm => 'Confermi?', :method => :delete %></td>
</tr>
