<tr>
  <td><%= line.descriz %></td>
  <td><%= Causale::TIPOREG[line.tiporeg] %></td>
  <td><%= Causale::TIPOIVA[line.tipoiva] %></td>
  <td><%= line.contoiva %></td>
  <td>
    <%= render :partial => 'shared/btn_vmc', :locals => {:v_edit => edit_causale_path(line), :line => line} %>
  </td>
</tr>
