<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Nuova Causale', new_causale_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Indietro', causales_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <table>
        <thead>
          <th width="50%">Descrizione</th>
          <th width="11%">Tipo REG</th>
          <th width="11%">Tipo IVA</th>
          <th width="13%">Conto IVA</th>
          <th width="15%"></th>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @causales unless @causales.empty? %>
        </tbody>
      </table>
      <%= will_paginate @causales %>
    </div>
  </div>
</div>
