<h1><%= @title %></h1>
<%= will_paginate @causales %>
<table>
  <tr>
    <th>Descrizione</th>
    <th>Tipo REG</th>
    <th>Tipo IVA</th>
    <th>Conto IVA</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @causales unless @causales.empty? %>
</table>

<br />

<%= link_to 'Nuova Causale', new_causale_path %> <br />
<%= link_to 'Indietro', causales_path %>
