<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'INDIETRO', resque_location(causales_path), :class => "button radius small back foundicon-left-arrow" %>
  </li>
  <li>
    <%= link_to 'MODIFICA', edit_causale_path(@causale), :class => "button radius small modify foundicon-edit" %>
  </li>
  <li>
    <%= link_to 'ELIMINA', @causale, :confirm => 'Confermi eliminazione?',
                                     :method => :delete, :class => "button radius small alert foundicon-trash" %>
  </li>
</ul>
<div class="row">
  <div class="two columns">
    <%= label @causale, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @causale.descriz %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @causale, "Conto IVA:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @causale.contoiva %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @causale, "Tipo IVA:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= Causale::TIPOIVA[@causale.tipoiva] %>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <%= label @causale, "Tipo REG:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= Causale::TIPOREG[@causale.tiporeg] %>
  </div>
</div>
