<%= render :partial => 'shared/error_messages', :locals => {:f => @rigdoc} %>
<%= form_for @rigdoc do |f| %>
  <div class="field">
    <%= hidden_field(:rigdoc, :tesdoc_id) %>
    <b> <%= f.label "Descizione riga" %> </b>
    <%= f.text_field :descriz, :size => 100 %>
  </div>
  <div class="field">
    <b> <%= f.label "Articolo" %> </b>
    <%= collection_select(:rigdoc, :article_id, Article.all, :id, :codice,
                           {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :rigdocs,
                                                                        :action => :article_exit)}})%>
    <span id="article_descriz">
        <b> <%= @rigdoc.article.des_plus unless @rigdoc.article.nil? %> </b> 
    </span>
    <br />
    <br />
    <br />
    <b> <%= f.label "Qta'" %> </b>
    <%= f.number_field :qta, :size => 3 %>
    <b> <%= f.label "Prezzo" %> </b>
    <%= f.number_field :prezzo, :size => 6  %>
    <b> <%= f.label "Sconto" %> </b>
    <%= f.number_field :sconto, :size => 6  %>
    <b> <%= f.label "aliquota iva:" %> </b>
    <%= collection_select :rigdoc, :iva_id, Iva.all, :id, :descriz, {:include_blank => true} %>
  </div>
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
