<%#= render :partial => 'shared/error_messages', :locals => {:f => @rigdoc} %>
<%= form_for @rigdoc do |f| %>
  <%= hidden_field(:rigdoc, :tesdoc_id) %>
  <div class="row">
    <div class="five columns">
      <%= f.label "Codice Articolo" %>
      <%= collection_select(:rigdoc, :article_id, Article.all(:order => :codice), :id, :codice,
                            {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :rigdocs,
                                                                        :action => :art_cod_exit)}})%>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Descrizione articolo" %>
      <%= collection_select(:rigdoc, :article_id, Article.all(:order => :descriz), :id, :descriz,
                            {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :rigdocs,
                                                                        :action => :art_des_exit)}})%>
    </div>

    <div class="twelve columns">
      <%= f.label "Descizione riga" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="two columns">
      <%= f.label "Qta'" %>
      <%= f.number_field :qta %>
    </div>
    <div class="three columns">
      <%= f.label "Prezzo" %>
      <%= f.number_field :prezzo %>
    </div>
    <div class="two columns"></div>
    <div class="one columns">
      <%= f.label "Sconto" %>
      <%= f.number_field :sconto %>
    </div>
    <div class="four columns">
      <%= f.label "aliquota iva:" %>
      <%= collection_select :rigdoc, :iva_id, Iva.all, :id, :descriz, {:include_blank => true} %>
    </div>
    <div class="twelve columns">
      <%= f.submit "SALVA", :class => "button radius small" %>
      <%= link_to 'ANNULLA', @rigdoc.tesdoc, :class => "button radius small" %>
    </div>
  </div>
<% end %>

