<%= render :partial => 'shared/error_messages', :locals => {:f => @rigdoc} %>
<%= form_for @rigdoc do |f| %>
  <div class="field">
    <%= hidden_field(:rigdoc, :tesdoc_id) %>
    <b> <%= f.label "Descizione riga" %> </b>
    <%= f.text_field :descriz, :size => 50 %>
    <b> <%= f.label "Articolo" %> </b>
    <%= collection_select(:rigdoc, :article_id, Article.all, :id, :codice,
                           {:include_blank => true},
                            {:data => {:remote => true, :url => url_for(:controller => :rigdocs,
                                                                        :action => :article_exit)}})%>
    <span id="article_descriz">
        <%= @rigdoc.article.descriz unless @rigdoc.article.nil? %>
    </span>
    <%#= f.text_field :causmag_id, :size => 1, :disabled => true %>
    <b> <%= f.label "Qtà" %> </b>
    <%= f.number_field :qta, :size => 3 %>
    <b> <%= f.label "Prezzo" %> </b>
    <%= f.number_field :prezzo, :size => 6  %>
    <b> <%= f.label "Sconto" %> </b>
    <%= f.number_field :sconto, :size => 6  %>

  </div>
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit "SALVA"%>
  </div>
<% end %>
