<tr>
  <td><%= line.article.codice unless line.article.nil? %></td>
  <td class="float"><%= line.qta %></td>
  <td class="currency"><%= number_to_currency(line.prezzo) %></td>
  <td class="float"><%= line.sconto %></td>
  <td class="currency"><%= number_to_currency(line.qta * line.prezzo) %></td>
  <td>
    <%= link_to 'D', line,
                     :class => "button radius tiny", :title => "Dettaglio" %>
    <%= link_to 'S', up_rigdoc_path(:id=>line.id, :page=>@page),
                     :class => "button radius tiny", :title => "Sposta su'" %>
    <%= link_to 'G', down_rigdoc_path(:id => line.id, :page=>@page),
                     :class => "button radius tiny", :title => "Sposta giu'" %>
  </td>
</tr>