<tr>
  <td><%= line.article.codice unless line.article.nil? %></td>
  <td><%= line.descriz %></td>
  <td class="float"><%= line.qta if line.qta != 0 %></td>
  <td class="currency"><%= number_to_currency(line.prezzo) if line.qta > 0 %></td>
  <td class="float"><%= line.sconto if line.qta > 0 %></td>
  <td class="currency"><%= number_to_currency(line.impon) if line.qta > 0 %></td>
  <td>
    <%= link_to '', line,
                     :class => "button radius tiny detail foundicon-page", :title => "Dettaglio" %>
    <%= link_to '', up_rigdoc_path(:id=>line.id, :page=>@page),
                     :class => "button radius tiny moveup foundicon-up-arrow", :title => "Sposta su'" %>
    <%= link_to '', down_rigdoc_path(:id => line.id, :page=>@page),
                     :class => "button radius tiny movedown foundicon-down-arrow", :title => "Sposta giu'" %>
  </td>
</tr>