<tr>
  <td><%= line.article.codice unless line.article.nil? %></td>
  <td><%= line.descriz %></td>
  <td><%= line.qta %></td>
  <td><%= line.prezzo %></td>
  <td><%= line.sconto %></td>
  <td><%= line.qta * line.prezzo %></td>
  <td><%= link_to 'Dettaglio', line %></td>
  <td><%= link_to 'SU''', up_rigdoc_path(:id => line.id) %></td>
  <td><%= link_to 'GIU''', down_rigdoc_path(:id => line.id) %></td>
</tr>