<%= form_for rigdoc do |f| %>


  <div class="field">
    <%= hidden_field(:rigdoc, :tesdoc_id) %>
    <%= f.label "Descizione riga2" %>
    <%= f.text_field :descriz, :size => 50 %>
    <%= f.label "Articolo" %>
    <%= collection_select (:rigdoc, :article_id, Article.all, :id, :codice,  {:include_blank => true}) %>
    <%= collection_select (:rigdoc, :article_id, Article.all, :id, :descriz, {:include_blank => true}) %>
    <%= f.label "Qtà" %>
    <%= f.number_field :qta, :size => 3 %>
    <%= f.label "Prezzo" %>
    <%= f.number_field :prezzo, :size => 6  %>
    <%= f.label "Sconto" %>
    <%= f.number_field :sconto, :size => 6  %>
  </div>
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>