<h1>Mostra Riga documento</h1>
<p>
  <b>Descrizione riga:</b>
  <%= @rigdoc.descriz %>
</p>

<p>
  <b>Codice articolo:</b>
  <%= @rigdoc.article.codice unless @rigdoc.article.nil? %>
</p>

<p>
  <b>Descrizione articolo:</b>
  <%= @rigdoc.article.descriz unless @rigdoc.article.nil? %>
</p>

<p>
  <b>Quantita':</b>
  <%= @rigdoc.qta %>
</p>

<p>
  <b>Prezzo:</b>
  <%= @rigdoc.prezzo %>
</p>

<p>
  <b>Sconto:</b>
  <%= @rigdoc.sconto %>
</p>

<%= link_to 'Indietro', @rigdoc.tesdoc %>
<%= link_to 'Elimina riga', @rigdoc, :confirm => 'Confermi eliminazione?', :method => :delete %>
<%= link_to 'Modifica riga', edit_rigdoc_path %>
