<header>
  <%#= link_to logo, root_path %>
  <nav class="round">
	<ul>
	  <li><%= link_to "Menu", menu_home_path %></li>
		<% if signed_in? %>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
		<% end %>
	  <li><%#= link_to "Help", help_path %></li>
		<% if signed_in? %>
			<li><%= link_to "LogOut(" + current_user.login + ")", signout_path , :method => :delete %></li>
			<li><%= link_to "CambiaAnno(" + current_annoese.to_s + ")", new_session_path(:login => current_user.login) %></li>
		<% else %>
			<li><%= link_to "Connetti", new_session_path %></li>
		<% end %>
	</ul>
  </nav>
</header>
