<div class="row">
  <div class="two columns">
    <%= label @costo, "Data Pagamento:", :class => "right" %>
  </div>
  <div class="four columns">
    <%= "#{@costo.data.strftime('%d-%m-%Y')}" if @costo.data %>
  </div>
  <div class="two columns">
    <%= label @costo, "Importo:", :class => "right" %>
  </div>
  <div class="four columns">
    <%= number_to_currency(@costo.importo) %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @costo, "Descrizione:", :class => "right" %>
  </div>
  <div class="ten columns">
    <%= @costo.descriz %>
  </div>
</div>

<div class="row">
  <div class="two columns">
    <%= label @costo, "Stato:", :class => "right" %>
  </div>
  <div class="four columns">
    <%= Costo::STATO[@costo.stato] %>
  </div>
  <div class="two columns">
    <%= label @costo, "Tipo spedizione:", :class => "right" %>
  </div>
  <div class="four columns">
    <%= Costo::TIPO_SPE[@costo.tipo_spe] %>
  </div>
</div>
