<fieldset>
  <legend> Ricerca conto </legend>
  <%= form_tag(:filter_contos, :method => :get) do %>
  <%= hidden_field_tag "tipoconto", @tipoconto %>
    <div class="three columns">
      <%= select_tag("tpfilter",
                     options_for_select([["Descrizione", "DE"],
                                         ["Ragione sociale", "RS"],
                                         ["Codice conto", "CC"]], @tpfilter)) %>
    </div>
    <div class="five columns">
      <%= text_field_tag "desfilter", @desfilter %>
    </div>
    <div class="four columns">
      <i class="foundicon-search">
        <%= submit_tag 'RICERCA', :class => "button radius small search foundicon-search", :title => "Esegui Ricerca" %>
      </i>
    </div>
  <% end %>
</fieldset>
