<%#= render :partial => 'shared/error_messages', :locals => {:f => @conto} %>
<%= form_for(@conto) do |f| %>
  <%= f.hidden_field :azienda %>
  <%= f.hidden_field :annoese %>
  <div class="row">
    <div class="two columns">
      <%= f.label "Codice" %>
      <%= f.number_field :codice %>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      <%= f.label "Anagrafica" %>
      <%= collection_select(:conto, :anagen_id, Anagen.all(:order => :denomin), :id,
                            :denomin, {:include_blank => true},
                              {:data => {:remote => true, :url => url_for(:controller => :contos,
                                                                          :action => :anagen_exit)}}) %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Descrizione" %>
      <%= f.text_field :descriz %>
    </div>
    <div class="five columns">
      <%= f.label "Contropartita" %>
      <%= f.number_field :cntrpartita %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Sconto" %>
      <%= f.number_field :sconto %>
    </div>
    <div class="five columns">
      <%= f.label "Riferimento" %>
      <%= select(:conto, :tipoconto, Conto::TIPOCONTO.invert.sort, { :prompt => true }) %>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <%= f.label "Tipologia conto" %>
      <%= select(:conto, :tipopeo, Conto::TIPOPEO.invert.sort, { :prompt => true }) %>
    </div>
    <div class="twelve columns offset-by-one">
      <%= f.submit "SALVA", :class => "button radius small success foundicon-checkmark" %>
      <%= link_to 'ANNULLA', :back, :class => "button radius small alert foundicon-trash" %>
      <%#= link_to 'ANNULLA', contos_path, :class => "button radius small alert" %>
    </div>
  </div>
<% end %>
