<%= form_for(@conto) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @conto} %>

  <div class="field">
    <%= f.label "Azienda" %><br />
    <%= f.number_field :azienda %>
  </div>
  <div class="field">
    <%= f.label "Anno Esercizio" %><br />
    <%= f.number_field :annoese %>
  </div>
  <div class="field">
    <%= f.label "Codice" %><br />
    <%= f.number_field :codice %>
  </div>
  <div class="field">
    <%= f.label "Descrizione" %><br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <%= f.label "Anagrafica" %><br />
    <%= collection_select :conto, :anagen_id, Anagen.all, :id, :denomin, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Tipologia conto" %><br />
    <%= select(:conto, :tipoconto, Conto::TIPOCONTO.invert, { :prompt => true }) %>
  </div>
  <div class="field">
    <%= f.label "Contropartita" %><br />
    <%= f.number_field :cntrpartita %>
  <div class="field">
    <%= f.label "Sconto" %>
    <%= f.number_field :sconto, :size => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA" %>
  </div>
<% end %>
