<%= form_for(@conto) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:f => @conto} %>

  <div class="field">
    <b> <%= f.label "Azienda" %> </b> <br />
    <%= f.text_field :azienda, :size => 1, :disabled => true %>
    <%= f.hidden_field :azienda %>
  </div>
  <div class="field">
    <b> <%= f.label "Anno Esercizio" %> </b> <br />
    <%= f.text_field :annoese, :size => 3, :disabled => true %>
    <%= f.hidden_field :annoese %>
  </div>
  <div class="field">
    <b> <%= f.label "Codice" %> </b> <br />
    <%= f.number_field :codice %>
  </div>
  <div class="field">
    <b> <%= f.label "Descrizione" %> </b> <br />
    <%= f.text_field :descriz %>
  </div>
  <div class="field">
    <b> <%= f.label "Anagrafica" %> </b> <br />
    <%= collection_select(:conto, :anagen_id, Anagen.all, :id, :denomin,
                          {:include_blank => true},
                           {:data => {:remote => true, :url => url_for(:controller => :contos,
                                                                       :action => :scontoanagen)}})%>
  </div>
  <div class="field">
    <b> <%= f.label "Tipologia conto" %> </b> <br />
    <%= select(:conto, :tipoconto, Conto::TIPOCONTO.invert.sort, { :prompt => true }) %>
  </div>
  <div class="field">
    <b> <%= f.label "Contropartita" %> </b> <br />
    <%= f.number_field :cntrpartita %>
  <div class="field">
    <b> <%= f.label "Sconto" %> </b>
    <%= f.number_field :sconto, :size => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "SALVA" %>
  </div>
<% end %>
