<tr>
  <td><%= line.azienda %></td>
  <td><%= line.annoese %></td>
  <td><%= line.codice %></td>
  <td><%= line.descriz %></td>
  <td><%= line.anagen.denomin unless line.anagen.nil? %></td>
  <td><%= Conto::TIPOCONTO[line.tipoconto] %></td>
  <td><%= line.cntrpartita %></td>
  <td><%= line.sconto %></td>
  <td><%= link_to 'Visualizza', line %></td>
  <td><%= link_to 'Modifica', edit_conto_path(line) %></td>
  <td><%= link_to 'Elimina', line, :confirm => 'Confermi?', :method => :delete %></td>
</tr>
