<tr>
  <td><%= line.codice %></td>
  <td><%= line.descriz %></td>
  <td><%= Conto::TIPOCONTO[line.tipoconto] %></td>
  <td><%= Conto::TIPOPEO[line.tipopeo] %></td>
  <td>
    <%= link_to 'V', line, :class => "button radius tiny", :title => "Visualizza" %>
    <%= link_to 'M', edit_conto_path(line), :class => "button radius tiny", :title => "Modifica" %>
    <%= link_to 'C', line, :confirm => 'Confermi?', :method => :delete, :class => "button radius tiny", :title => "Cancella" %>
  </td>
</tr>
