<tr>
  <td><%= line.codice %></td>
  <td><%= line.descriz %></td>
  <td><%= Conto::TIPOCONTO[line.tipoconto] %></td>
  <td><%= Conto::TIPOPEO[line.tipopeo] %></td>
  <td>
    <%= render :partial => 'shared/btn_vmc', :locals => {:v_edit => edit_conto_path(line), :line => line} %>
  </td>
</tr>
