<h1>Listing contos</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Annoese</th>
    <th>Codice</th>
    <th>Descriz</th>
    <th>Tipoconto</th>
    <th>Cntrpartita</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contos.each do |conto| %>
  <tr>
    <td><%= conto.azienda %></td>
    <td><%= conto.annoese %></td>
    <td><%= conto.codice %></td>
    <td><%= conto.descriz %></td>
    <td><%= conto.tipoconto %></td>
    <td><%= conto.cntrpartita %></td>
    <td><%= link_to 'Show', conto %></td>
    <td><%= link_to 'Edit', edit_conto_path(conto) %></td>
    <td><%= link_to 'Destroy', conto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conto', new_conto_path %>
