<h1><%= @title %></h1>
<%= will_paginate @contos %>
<table>
  <tr>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Anagrafica</th>
    <th>Riferimento</th>
    <th>Tipoconto</th>
    <th>Cntrpartita</th>
    <th>Sconto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => 'line', :collection => @contos unless @contos.empty? %>
</table>

<br />

<%= link_to 'Nuovo Conto', new_conto_path %> <br />
<%= link_to 'Indietro', contos_path %>
