<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Indietro', contos_path, :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Modifica', edit_conto_path(@conto), :class => "button radius small" %>
      </li>
      <li>
        <%= link_to 'Elimina', @conto, :confirm => 'Confermi eliminazione?',
                                       :method => :delete, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <fieldset>
      <legend> Dati Conto </legend>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Codice:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @conto.codice %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Descrizione:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @conto.descriz %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Anagrafica:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= @conto.anagen.denomin %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Riferimento:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= Conto::TIPOCONTO[@conto.tipoconto] %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Tipo conto:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= Conto::TIPOPEO[@conto.tipopeo] %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Contropartita:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= Conto::TIPOPEO[@conto.cntrpartita] %>
        </div>
      </div>
      <div class="row">
        <div class="two columns offset-by-one">
          <%= label @conto, "Sconto:", :class => "right" %>
        </div>
        <div class="nine columns left">
          <%= Conto::TIPOPEO[@conto.sconto] %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
