<p id="notice"><%= notice %></p>
<h1>Mostra Conto</h1>
<p>
  <b>Azienda:</b>
  <%= @conto.azienda %>
</p>

<p>
  <b>Anno esercizio:</b>
  <%= @conto.annoese %>
</p>

<p>
  <b>Codice:</b>
  <%= @conto.codice %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @conto.descriz %>
</p>

<p>
  <b>Anagrafica:</b>
  <%= @conto.anagen.denomin %>
</p>

<p>
  <b>Tipo conto:</b>
  <%= Conto::TIPOCONTO[@conto.tipoconto] %>
</p>

<p>
  <b>Contropartita:</b>
  <%= @conto.cntrpartita %>
</p>

<p>
  <b>Sconto:</b>
  <%= @conto.sconto %>
</p>

<%= link_to 'Modifica', edit_conto_path(@conto) %> |
<%= link_to 'Indietro', contos_path %>
