<h1>Mostra Conto</h1>
<p>
  <b>Codice:</b>
  <%= @conto.codice %>
</p>

<p>
  <b>Descrizione:</b>
  <%= @conto.descriz %>
</p>

<p>
  <b>Anagrafica:</b>
  <%= @conto.anagen.denomin %>
</p>

<p>
  <b>Riferimento:</b>
  <%= Conto::TIPOCONTO[@conto.tipoconto] %>
</p>

<p>
  <b>Tipo conto:</b>
  <%= Conto::TIPOPEO[@conto.tipopeo] %>
</p>

<p>
  <b>Contropartita:</b>
  <%= @conto.cntrpartita %>
</p>

<p>
  <b>Sconto:</b>
  <%= @conto.sconto %>
</p>

<%= link_to 'Modifica', edit_conto_path(@conto) %> |
<%= link_to 'Indietro', :back %>
<%#= link_to 'Indietro', contos_path %>
